@charset "UTF-8";
::-moz-selection { /* Code for Firefox */
  color: rgb(255, 0, 0);
  background:rgb(255, 255, 255)
}
::selection {
  color: rgb(255, 0, 0);
  background:rgb(255, 255, 255);
}
.h1 {
  font-family: Helvetica, Arial, sans-serif;
}
body, html {
	height: 100%;
	width: 100%;
}
.navbar-btn img {
	height: 20px;
	width: 60px;
}
.detail-img {
 	width:350px;
 	height:350px;
 	display: block;
  margin-left: auto;
  margin-right: auto;
}
.productinsert .productinsert-form{
	width:390px;
}
.container .information {
	width: 390px;
}
#product-detail-container {
	width: 350px;
}
.main-container {
  margin-top: 86px;
}

.navbar__clock__date {
  color: black;
}
.navbar__clock__week {
  color: black;
}
.navbar__clock__time {
  color: #FE0100;
}

@media ( min-width : 768px) {
	.container .information {
		width: 750px;
	}
	.navbar-btn img {
		height: 45px;
		width: 135px;
	}
	 .detail-img {
 		width:580px;
 		height:580px;
 		display: block;
    margin-left: auto;
    margin-right: auto;
	}
	.productinsert .productinsert-form{
		width:750px;
	}
	#product-detail-container {
		width: 750px;
	}
	.main-container {
    margin-top: 65px;
  }

}