@charset "EUC-KR";

#scroll-up-btn{

}
.navbar-top-pc {
  margin-bottom: 3px;
}
.navbar__search-icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-right: 25px;
  margin-top:8px;
}
.navbar__bogo {
  width:192px;
  height:40px;
  text-decoration : none;
}
.clock--mobile {
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
}
.navbar-top__menu {
  color:#D3D5D9;
  transition: all 0.4s;
}
.navbar-top__menu:hover {
  color:#F11900;
}
.navbar-bottom--mobile__menu {
  font-family: Roboto;
  font-style: italic;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
/* identical to box height */
/* SR_RED_01 */
  color: #D3D5D9;
  transition: all 0.4s;
}
.navbar-bottom--mobile__menu:hover {
  color: #F11900;
}
.navbar-bottom--mobile__line {
  border-left: 1px solid #b8b8b8;
  height:100%;
}
#navbar-bottom {
  background-color: rgba( 255, 255, 255, 0 );
  padding-top:0px;
  display:flex;
  flex-direction: column;
}
#navbar-bottom--mobile__container {
  position:fixed;
  display:flex;
  justify-content:space-between;
  align-items: center;
  width: 375px;
  height: 84px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px -2px 4px rgba(159, 159, 159, 0.15);
  backdrop-filter: blur(8px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px 30px 0px 0px;
  padding: 0px 48px;
  transition: bottom 0.4s;
}
@media ( min-width : 768px) {
  .navbar__search-icon {
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin-right: 70px;
    margin-top: 15px;
  }
  .navbar__bogo {
    width:290px;
    height:60px;
    margin-left: 65px;
  }
  .clock {
    margin-right: 25px;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    padding-top: 25px;
  }
}