@charset "EUC-KR";

.home-product {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	flex-grow:1;
}
.home-product-img {
	width:300px;
	height:300px;
}

#home-product-model_kr {
	font-size: 15px;
	font-weight: bold;
	color: #5e5e5e;
}
.home-product-status-going {
	font-size: 12px;
	font-weight: bold;
	color: #fe0100;
}
.home-product-status-ready {
	font-size: 12px;
	font-weight: bold;
	color: #5e5e5e;
}

@media ( min-width : 768px) {
	.home-product {
		flex-grow:1;
	}
	.home-product-img {
		width:500px;
		height:500px;
	}
	#home-product-model_kr {
		font-size: 18px;
		font-weight: bold;
		color: #5e5e5e;
	}
	.home-product-status-going {
		font-weight: bold;
		color: #fe0100;
	}
	.home-product-status-ready {
		font-weight: bold;
		color: #5e5e5e;
	}
}