@charset "UTF-8";

#information-container {
	width: 700px;
	margin-top:40px;
}
#model_kr {
	font-size: 24px;
	font-weight: bold;
}
#model_en {
	font-size: 14px;
	font-weight: bold;
	color: #b8b8b8;
}
#information-head {
	margin-bottom: 18px;
}
.information .table {
	width:400px;
}
.information-body div {
	margin-bottom:18px;
	font-size: 14px;
}
#lastUpdatedDate {
	font-size: 12px;
	text-align: center;
	margin-bottom: 28px;
}
#information-body-content {
	width: 400px;
	text-align: left;
}
#product-detail-container {
	margin-top:77.5px;
}
#premiumPrice {

}
#premiumPriceName {

}
#premiumPriceValue {
}
.tableRowName {
	border-left: none;
	text-align: center;
	font-weight: bold;
}
.tableRowValue {
	border-right: none;
	font-weight: bold;
}
#infoTable {
	margin-bottom: 5px;
}
.table2RowName {
	text-align:center;
	color:#5e5e5e;
}
.table2RowValue {
	text-align:center;
	color:#5e5e5e;
}
#releaseDateName {
	background-color: black;
	color: #ffffff;
	font-style: italic;
	font-weight: bold;
}
#releaseDateValue {
	background-color: black;
	color:#fe0100;
	font-style: italic;
	font-weight: bold;
}
#averageSalePriceValue {
	color:#fe0100;
}
@media ( min-width : 768px) {
	#information-body-content {
		width: 500px;
		text-align: left;
	}
	.information .table {
		width: 500px;
	}
}