@charset "UTF-8";

#raffle-container {
	width: 100%;
}
.raffleCardDetail {
	margin-bottom: 10px;
}
.raffle-inner-container {
	width: 350px;
}
.firstcome-list-container {
	width:350px;
}
.raffle-list-container {
	width:350px;
}

.draw-storeName {
	font-size:18px;
	font-weight: bold;
	color:#fe0100;
}
.sneakBtn {
	border: none;
	cursor: pointer;
}
.raffleDateTime {
	font-weight:bold;
}
.detail-raffle {
 
}
hr {
	border: solid 2px #b8b8b8;
}

#endedFirstcomeCardsDiv {
 cursor: pointer;
 font-size: 18px;
}
#endedRaffleCardsDiv {
	cursor: pointer;
	font-size: 18px;
}
#information-container {
	width: 700px;
	margin-top:40px;
}
#model_kr {
	font-size: 20px;
	font-weight: bold;
}
#model_en {
	font-size: 10px;
	font-weight: bold;
	color: #b8b8b8;
}
#information-head {
	margin-bottom: 18px;
}
.information .table {
	font-size:12px;
	width:100%;
}
.information-body div {
	margin-bottom:18px;
	font-size: 14px;
}
#lastUpdatedDate {
	font-size: 12px;
	text-align: center;
	margin-bottom: 28px;
}
#information-body-content {
	width: 100%;
	text-align: left;
	font-size: 12px;
}
#product-detail-container {
	margin-top:77.5px;
}
.tableRowName {
	border-left: none;
	text-align: center;
	font-weight: bold;	
}
.tableRowValue {
	border-right: none;
	font-weight: bold;
}
#infoTable {
	margin-bottom: 5px;
}
.table2RowName {
	text-align:center;
	color:#5e5e5e;
}
.table2RowValue {
	text-align:center;
	color:#5e5e5e;
}
.SAstyleWhite {
	text-align: center;
	background-color: black;
	color: #ffffff;
	font-style: italic;
	font-weight: bold;
}
.SAstyleRed {
	background-color: black;
	color:#fe0100;
	font-style: italic;
	font-weight: bold;
}
.raffleCards-head {
	 margin-bottom: 20px;
	 background-color:black;
	 font-size: 26px;
}
.drawCard{
	cursor: pointer;	
}
#goingFirstcomeDiv {
	margin-top: 20px;
}
#goingFirstcomeDiv-direct {
	margin-top: 20px;
}
#goingFirstcomeDiv-agent {
	margin-top: 20px;
}

#goingFirstcomeName {
	color:white;
}
#goingFirstcomeNum{
	color:#fe0100;
}
#goingFirstcomeName-direct {
	color:white;
}
#goingFirstcomeNum-direct {
	color:#fe0100;
}
#goingFirstcomeName-agent {
	color:white;
}
#goingFirstcomeNum-agent {
	color:#fe0100;
}
#endedFirstcomeCardsDiv {
	margin-top:25px;
	margin-bottom:25px;
}

#goingRaffleDiv {
	margin-top: 20px;
}
#goingRaffleDiv-direct {
	margin-top: 20px;
}
#goingRaffleDiv-agent {
	margin-top: 20px;
}
#goingRaffleName {
	color:white;
}
#goingRaffleNum{
	color:#fe0100;
}
#goingRaffleName-direct {
	color:white;
}
#goingRaffleNum-direct {
	color:#fe0100;
}
#goingRaffleName-agent {
	color:white;
}
#goingRaffleNum-agent {
	color:#fe0100;
}
#endedRaffleCardsDiv {
	margin-top:25px;
	margin-bottom:25px;
}

#averageSalePriceValue {
	color:#fe0100;
}

#disqus_container {
	width:300px; 
	margin-top:75px;
}

@media ( min-width : 768px) {
	#model_kr {
		font-size: 24px;
		font-weight: bold;
	}
	#model_en {
		font-size: 14px;
		font-weight: bold;
		color: #b8b8b8;
	}
	.information .table {
		width:100%;
		font-size:16px;
	}
	#information-body-content {
		width: 100%;
		text-align: left;
		font-size:16px;
	}
	#raffle-container {
		width: 768px;
	}
	#disqus_container {
	width:700px; 
	margin-top:75px;
}
}
@media ( min-width : 1000px) {
#raffle-container {
	width: 1000px;
}
.raffle-inner-container {
	width: 450px;
}
.firstcome-list-container {
	width: 450px;
}
.raffle-list-container {
 width: 450px;
}
.raffleCardDetail {
	width: 450px;
}
}
