@charset "UTF-8";

#today-page-width {
  padding: 0px;
  width: 375px;
}

.today-main-container {
  margin-top: 86px;
  width: 375px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#activeDrawsContainer {
  width: 375px;
  margin-bottom: 52px;
}
.todayDrawContainer {
  width: 375px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todayProductImg {
  width: 150px;
  height: 150px;
}

.todayDrawContent {
  width: 175px;
  font-size:14px;
  text-align:center;
  color: black;
  cursor: pointer;
  background-color:white;
  opacity:0.90;
  box-shadow: 0px 0px 10px 1.5px rgba(0,0,0,0.1);
  border-radius:8px/8px;
  margin: 5px;
}
.todayReadyDrawContent {
  width: 175px;
  font-size:14px;
  text-align:center;
  color: black;
  cursor: pointer;
  background-color:white;
  opacity:0.9;
  box-shadow: 0px 0px 10px 1.5px rgba(0,0,0,0.04);
  border-radius:8px/8px;
  margin: 5px;
}
.draw-end-datetime {
  font-weight: bold;
}
.draw-start-datetime {
  font-weight: bold;
}
.ready-draw-end-datetime{
  color: #b8b8b8;
  font-weight: bold;
}
.ready-draw-start-datetime{
  color: #b8b8b8;
  font-weight: bold;
}
.ready-draw-storeName {
  color: #b8b8b8;
}
.ready-draw-raffle-type-raffle {
  font-weight: bold;
  color: #b8b8b8;
}
.ready-draw-raffle-type-firstcome {
  font-weight: bold;
  color: #b8b8b8;
}
.draw-raffle-type-firstcome {
  font-weight: bold;
  color: #FE0100;
}
.draw-raffle-type-raffle {
  font-weight: bold;
}

.today-draws-hr {
  margin-top: 26px;
  margin-bottom: 26px;
  height: 10px;
  opacity: 1;
  border: solid 1px #f2f2f2;
  width:100%;
}
.todayDraw-model_kr {
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  color: #000000;
}
.draw-specialcase {
  color: #414141;
}
.ready-draw-specialcase {
  color: #b8b8b8;
}

@media (min-width : 1125px){
  #today-page-width {
    padding: 0px;
    width: 1125px;
  }
  .today-main-container {
    margin-top: 86px;
    width: 1125px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .todayDrawContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #activeDrawsContainer {
    width: 1125px;
    margin-bottom: 52px;
  }
  #activeDraws-korea {
    width: 1125px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #activeDraws-direct {
    width: 1125px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #activeDraws-agent {
    width: 1125px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .todayProductImg {
    width: 300px;
    height: 300px;
  }
}