<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" 
			xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorator="layout/default">

<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script">
<script sec:authorize="hasRole('ADMIN')">
$('document').ready(function(){
	
	$('.home-product-modify').click(function(){
		var id = $(this).attr("is");
		location.href="/product-modify?id="+id;
	});
	
 	$('.home-product-delete').click(function(){
		var id = $(this).attr("is");
 		var res = confirm('id: '+id+'\n정말 삭제하시겠습니까?');
 		if(res){
   		$.ajax({
	  		url:'/product-delete',
	    	type:'get',
	    	data:{
	     		id: id
	    	},
	    	success: function(data) {
	    		$("#card-"+id).remove();
	   		},
	    	error: function(){
	    		alert('error!');
	    	}
   		});
 		}
  });
});
</script>
</th:block>

<div layout:fragment="content">
	<div class="container w-100 d-flex flex-wrap justify-content-center" style="margin-top: 77.5px;">
		<div sec:authorize="hasRole('ADMIN')" class="d-flex justify-content-center">
  		<a href="product-insert" style="margin-bottom:15px">
				INSERT-PRODUCT
			</a>
		</div>
		<div class="container-fluid d-flex flex-wrap justify-content-center">
			<div class="home-product" th:each="list : ${list}">
				<div class="d-flex flex-column" th:id="|card-${list.id}|">
					<a th:href="@{/product-detail(id=${list.id})}" th:if="${list.isDeleted} eq 1" style="opacity:0.2;"><img th:src="${list.imgSrc_home}" class="home-product-img"></a>
					<a th:href="@{/product-detail(id=${list.id})}" th:unless="${list.isDeleted} eq 1"><img th:src="${list.imgSrc_home}" class="home-product-img"></a>
					<div sec:authorize="hasRole('ADMIN')" class="d-flex">
						<a class="btn btn-warning home-product-modify flex-grow-1" th:is="${list.id}">Modify</a>
						<a class="btn btn-danger home-product-delete flex-grow-1" th:is="${list.id}">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</html>