<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" 
			xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorator="layout/default">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/home.css}" type="text/css">
	<style>
	  #navbar-top__menu--launch {
	    color: #000000;
	  }
	  #navbar-bottom--mobile__menu--launch {
	    color: #000000;
	  }
	</style>
</th:block>
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{js/home.js}" charset="utf-8"></script>
	<script sec:authorize="!hasRole('ADMIN')">
    document.title = 'LAUNCH ■ SNEAKALARM';
  </script>
	<script sec:authorize="hasRole('ADMIN')">
    document.title = '_LAUNCH ■ SNEAKALARM';
  </script>
</th:block>

<div layout:fragment="content">
	<div class="container-fluid d-flex flex-wrap justify-content-center main-container" style="padding:0px;">
		<div style="margin-bottom: 10px;">
			<div sec:authorize="hasRole('ADMIN')" class="d-flex justify-content-center">
  			<a href="product-insert" style="margin-bottom:15px">
					INSERT-PRODUCT
				</a>
			</div>
		</div>
		
		<div class="container-fluid d-flex flex-column justify-content-center">
			<div class="d-flex justify-content-center">
				<input id="searchBar" type="text" placeholder="SEARCH" />
			</div>
			<div class="container-fluid d-flex flex-wrap justify-content-center" id="productSearchResult"></div>
		</div>
		
		<div id="goingDrawProductCards" class="container-fluid d-flex flex-wrap justify-content-center">
			<div class="home-product" th:each="list : ${goingCardList}">
				<div class="d-flex flex-column align-items-center" th:id="|card-${list.id}|">
					<a th:href="@{/product-detail(id=${list.id})}"><img th:src="${list.imgSrc_home}" class="home-product-img"></a>
					<span th:text="${list.model_kr}" class="home-product-model_kr"></span>
					<div class="container-fluid d-flex flex-wrap justify-content-evenly home-product-drawNums"><span th:if="${list.drawNumKorea != 0}" class="activeDrawNum" th:id="|home-product-drawNumKoreaSet-${list.id}|">국내: <span th:text="${list.drawNumKorea}" th:id="|home-product-drawNumKorea-${list.id}|"></span></span><span th:if="${list.drawNumOverseas != 0}" class="activeDrawNum" th:id="|home-product-drawNumOverseasSet-${list.id}|">해외: <span th:text="${list.drawNumOverseas}" th:id="|home-product-drawNumOverseas-${list.id}|"></span></span><span th:if="${list.drawNumFirstcome != 0}" class="activeDrawNum firstcomeDrawNum" th:id="|home-product-drawNumFirstcomeSet-${list.id}|">선착: <span th:text="${list.drawNumFirstcome}" th:id="|home-product-drawNumFirstcome-${list.id}|"></span></span></div>
				</div>
			</div>
		</div>

		<hr class="home__hr" th:if="${readyCardListNum != 0}">
		<div class="ready-draws-num" th:if="${readyCardListNum != 0}"><h2 style="text-align: center; font-weight:bold;"><span>시작전: </span><span id="readyDrawProductCount" th:text="${readyCardListNum}"></span></h2></div>

		<div id="readyDrawProductCards" class="container-fluid d-flex flex-wrap justify-content-center">
			<div class="home-product" th:each="list : ${readyCardList}">
				<div class="d-flex flex-column align-items-center" th:id="|card-${list.id}|">
					<a th:href="@{/product-detail(id=${list.id})}" style="opacity:0.5;"><img th:src="${list.imgSrc_home}" class="home-product-img"></a>
					<span th:text="${list.model_kr}" class="home-product-model_kr"></span>
					<div class="container-fluid d-flex flex-wrap justify-content-evenly home-product-drawNums"><span th:if="${list.drawNumKorea != 0}" class="activeDrawNum" th:id="|home-product-drawNumKoreaSet-${list.id}|">국내: <span th:text="${list.drawNumKorea}" th:id="|home-product-drawNumKorea-${list.id}|"></span></span><span th:if="${list.drawNumOverseas != 0}" class="activeDrawNum" th:id="|home-product-drawNumOverseasSet-${list.id}|">해외: <span th:text="${list.drawNumOverseas}" th:id="|home-product-drawNumOverseas-${list.id}|"></span></span><span th:if="${list.drawNumFirstcome != 0}" class="activeDrawNum firstcomeDrawNum" th:id="|home-product-drawNumFirstcomeSet-${list.id}|">선착: <span th:text="${list.drawNumFirstcome}" th:id="|home-product-drawNumFirstcome-${list.id}|"></span></span></div>
				</div>
			</div>
		</div>
		
		<div id="endedDrawProductCardsDiv" is="0" style="margin-bottom:50px">지난 응모 보기</div><br><br>
		<div id="endedDrawProductCards" class="container-fluid d-flex flex-wrap justify-content-center endedCard" >  
		</div>
		
	</div>
</div>

</html>
