<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" 
			xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorator="layout/default">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
<script type="text/javascript" th:src="@{se2/js/service/HuskyEZCreator.js}" charset="utf-8"></script>
<script type="text/javascript">
		
var albumBucketName = 'sneakalarm.media';
var bucketRegion = 'ap-northeast-2';
var IdentityPoolId = 'ap-northeast-2:e33e44cf-1621-4149-98b8-9dd28c45ecc8';
	
AWS.config.update({
	  region: bucketRegion,
	  credentials: new AWS.CognitoIdentityCredentials({ IdentityPoolId: IdentityPoolId })
});

var s3 = new AWS.S3({
	  apiVersion: '2006-03-01',
	  params: {Bucket: albumBucketName}
});

$('document').ready(function(){
 	$('#modifyBtn').click(function(){
 		submitContents();
		imgUpload();
  });
});
function imgUpload(){
 	var albumName = $('#code').val();
 	var files = document.getElementById('photoupload').files;
 	console.log('got files');
 	if (!files.length) {
 		return alert('Please choose a file to upload first.');
 	}
 		var file = files[0];
 		var fileName = file.name;
 		console.log('fileName:'+fileName);
 		var path = encodeURIComponent(albumName);
 		console.log(path);
	 	var pathSplit = path.split('/');
	 	var albumPhotosKey;
	 	if(pathSplit.length>1){
	 		albumPhotosKey = 'product/'+pathSplit[2]+'/';
	 	}
	 	else{
	 		albumPhotosKey = 'product/'+path+'/';
	 	}
	 	console.log('albumPhotosKey:'+albumPhotosKey);
	 	var photoKey = albumPhotosKey + fileName;
	 	
	 	s3.upload({
	 		Key: photoKey,
	 		Body: file,
	 		ACL: 'public-read'
	 	}, 
	 	function(err, data) {
	 		if (err) {
	 	  	return alert('There was an error uploading your photo: ', err.message);
		 	}
	 		$.ajax({
	 			url:'/modify-product',
	 			type:'post',
	 			data:{
	 				name: $('#name').val(),
	 				price: $('#price').val(),
	 				code: $('#code').val(),
	 				brand: $('#brand').val(),
	 				fileList: $('#photoupload').val(),
	 				content: $('#content').val()
	 			},
	 			success: function(data) {
	 				alert('수정되었습니다.');
	    		location.href='/';
	   		},
	    	error: function(){
	    		alert('error!');
	    	}
	 		});
	   });
}	

</script>
</th:block>

<div layout:fragment="content">
<div class="container-fluid d-flex justify-content-center" style="margin-top:100px">
<div class="productinsert">
<h1 class="text-center mb-3">제품 수정</h1>
<form action="/modify-product" method="post" id="modifyForm" class="productinsert-form" >
  <div class="mb-3 row">
		<label for="name" class="col-sm-2 col-form-label text-center">모델</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:value="${productVO.name}" id="name" name="name" required="required"/>
			</div>
	</div>
	<div class="mb-3 row">
		<label for="code" class="col-sm-2 col-form-label text-center">상품 코드</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:value="${productVO.code}" id="code" name="code" required="required" readonly/>
			</div>
	</div>
	<div class="mb-3 row">
		<label for="price" class="col-sm-2 col-form-label text-center">발매 가격</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:value="${productVO.price}" id="price" name="price" required="required"/>
			</div>
	</div>
	<div class="mb-3 row">
		<label for="brand" class="col-sm-2 col-form-label text-center">브랜드</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" th:value="${productVO.brand}" id="brand" name="brand" required="required"/>
			</div>
	</div>
	<div class="mb-3 row">
		<label for="content" class="col-sm-2 col-form-label text-center">내용</label>
			<div class="col-sm-10">
				<textarea name="content" th:utext="${productVO.content}" id="content" rows="10" cols="100">에디터에 기본으로 삽입할 글(수정 모드)이 없다면 이 value 값을 지정하지 않으시면 됩니다.</textarea>
			</div>
	</div>
	<div class="mb-3 row">
 			<label for="photoupload" class="col-sm-2 col-form-label text-center">이미지</label>
 			<div class="col-sm-10">
 			<input class="form-control form-control-lg" type="file" id="photoupload" name="fileList" multiple required="required">
 			</div>
	</div>
	<div class="mb-3 row">
		<button type="button" id="modifyBtn" class="btn btn-primary col-sm-12">수정</button>
	</div>
</form>
</div>
</div>
<script>
		var oEditors = [];
		nhn.husky.EZCreator.createInIFrame({
 			oAppRef: oEditors,
 			elPlaceHolder: "content",
 			sSkinURI: "se2/SmartEditor2Skin.html",
 			fCreator: "createSEditor2"
		});
		
		// ‘저장’ 버튼을 누르는 등 저장을 위한 액션을 했을 때 submitContents가 호출된다고 가정한다.
	function submitContents() {
		 // 에디터의 내용이 textarea에 적용된다.
		 oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);
		 // 에디터의 내용에 대한 값 검증은 이곳에서
		 // document.getElementById("content").value를 이용해서 처리한다.
	}
	</script>
</div>

</html>