<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml" 
			xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout/default">
	
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/product-detail.css}" type="text/css">
	<style>
	  #navbar-top__menu--launch {
	    color: #000000;
	  }
	  #navbar-bottom--mobile__menu--launch {
	    color: #000000;
	  }
	</style>
</th:block>

<th:block layout:fragment="script">
<script type="text/javascript" th:src="@{js/util.js}" charset="utf-8"></script>
<script>
$('document').ready(function(){

	document.title = $('#model_kr').text();

	if(isEmptyValue($('#avgSalePriceRow-value').text())){
		$('#avgSalePriceRow').hide();
	}
	if(isEmptyValue($('#premiumPriceRow-value').text())){
		$('#premiumPriceRow').hide();
	}
	if(isEmptyValue($('#salePriceRangeRow-value-lowest').text())){
		$('#salePriceRangeRow').hide();
	}
	if(isEmptyValue($('#col-size-value').text())){
		$('.col-size').hide();
	}
	
	
	$('.drawCard').on("click", function(event){
		const url = $(this).attr('url');
		window.open(url);
	});
	
	$('.sneakBtn').on("click", function(event){
		event.stopPropagation();
		var raffleId = $(this).attr('is');
		if($('#raffleCardDetail-content'+raffleId).css('display') == 'none'){
			$('#raffleCardDetail-content'+raffleId).show();
		}
		else{
			$('#raffleCardDetail-content'+raffleId).hide();
		}
	});
	
	if($('#goingFirstcomeNum').text() == '0')
		$('#goingFirstcomeDiv').hide();
	if($('#goingFirstcomeNum-direct').text() == '0')
		$('#goingFirstcomeDiv-direct').hide();
	if($('#goingFirstcomeNum-agent').text() == '0')
		$('#goingFirstcomeDiv-agent').hide();
	if($('#endedFirstcomeCardsNum').text() == '0')
		$('#endedFirstcomeCardsDiv').hide();
	
	if($('#goingRaffleNum').text() == '0')
		$('#goingRaffleDiv').hide();
	if($('#goingRaffleNum-direct').text() == '0')
		$('#goingRaffleDiv-direct').hide();
	if($('#goingRaffleNum-agent').text() == '0')
		$('#goingRaffleDiv-agent').hide();
	if($('#endedRaffleCardsNum').text() == '0')
		$('#endedRaffleCardsDiv').hide();
	
	$('#endedFirstcomeCardsDiv').click(function(){
		if($(this).attr('is') == '0'){
			$(this).attr('is','1');
			$('.endedFirstcomeCard').show();
			$('.endedFirstcomeCard').css('margin-bottom','10px');
		}
		else {
			$(this).attr('is','0');
			$('.endedFirstcomeCard').hide();
			$('.endedFirstcomeCard').css('margin-bottom','0px');
		}
	});
	$('#endedRaffleCardsDiv').click(function(){
		if($(this).attr('is') == '0'){
			$(this).attr('is','1');
			$('.endedRaffleCard').show();
			$('.endedRaffleCard').css('margin-bottom','10px');
		}
		else {
			$(this).attr('is','0');
			$('.endedRaffleCard').hide();
			$('.endedRaffleCard').css('margin-bottom','0px');
		}
	});
});

function isEmptyValue(value){
	return value == '' || value == '₩'; 
}
</script>
<script sec:authorize="hasRole('ADMIN')">
$('document').ready(function(){
	document.title = '[ADMIN] ' + $('#model_kr').text();

	$('.detail-raffle-modify').click(function(){
		var id = $(this).attr('is');
		location.replace("/raffle-modify?id="+id);
	});
	
	$('#detail-product-delete').click(function(){
		var id = $(this).attr('is');
			var res = confirm('id: '+id+'\n정말 삭제하시겠습니까?');
			if(res){
			$.ajax({
	  		url:'/product-delete',
	    	type:'get',
	    	data:{
	     		id: id
	    	},
	    	success: function(data) {
	    		alert('삭제되었습니다.');
	    		location.replace("/");
	   		},
	    	error: function(){
	    		alert('error!');
	    	}
			});
			}
	});
	
	$('.detail-raffle-delete').click(function(){
		var id = $(this).attr('is');
		var productId = getParam('id');
			var res = confirm('id: '+id+'\n정말 삭제하시겠습니까?');
			if(res){
			$.ajax({
	  		url:'/raffle-delete',
	    	type:'get',
	    	data:{
	     		id: id
	    	},
	    	success: function(data) {
	    		alert('삭제되었습니다.');
	    		location.replace("/product-detail?id="+productId);
	   		},
	    	error: function(){
	    		alert('error!');
	    	}
			});
			}
	});
	
});

function move(id){
	location.replace("/product-modify?id="+id);
}
</script>
</th:block>

<div layout:fragment="content">
<div class="container main-container" id="product-detail-container">
	<div class="text-center">
	<div id="clock"></div>
	</div>
	<div class="container-fluid">
		<div id="carousel-detail-img" class="carousel slide carousel-dark" data-bs-ride="carousel">
  		<div class="carousel-inner detail-img">
  			<div th:each="url, index : ${urlList_detail}" th:if="${index.count} eq 1" class="carousel-item active" data-bs-interval="7000">
  				<img th:src="${url}" alt="..." class="detail-img">
  			</div>
  			<div th:each="url, index : ${urlList_detail}" th:unless="${index.count} eq 1" class="carousel-item" data-bs-interval="3500">
  				<img th:src="${url}" alt="..." class="detail-img">
  			</div>
  		</div>
  		<a class="carousel-control-prev" href="#carousel-detail-img" role="button" data-bs-slide="prev">
    		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    		<span class="visually-hidden">Previous</span>
  		</a>
  		<a class="carousel-control-next" href="#carousel-detail-img" role="button" data-bs-slide="next">
    		<span class="carousel-control-next-icon" aria-hidden="true"></span>
    		<span class="visually-hidden">Next</span>
  		</a>
		</div>
	</div>
		<div class="container d-flex justify-content-center">
			<div class="information d-flex flex-column justify-content-center" id="information-container">
				<div class="information-head" id="information-head">
					<div class="information-head-model text-center">
						<span th:utext="${productVO.model_kr}" id="model_kr"></span><br>
						<span th:utext="${productVO.model_en}" id="model_en"></span>
					</div>
				</div>
			<div class="information-body d-flex flex-column align-items-center">
				<div class="information-body">
				<table class="table table-bordered" id="infoTable" >
				<tbody>
				<tr id="avgSalePriceRow" style="background-color:black">
					<td class="SAstyleWhite">평균 거래 가격</td>
					<td colspan="2" ><span id="avgSalePriceRow-value" class="SAstyleRed" th:utext="${productVO.averageSalePrice}"></span></td>
				</tr>
				<tr id="premiumPriceRow">
					<td class="tableRowName"><span id="premiumPriceName">평균 프리미엄</span></td>
					<td colspan="2" class="tableRowValue"><span id="premiumPriceRow-value" th:utext="${productVO.premiumPrice}"></span></td>
				</tr>
				<tr id="salePriceRangeRow">
					<td class="tableRowName">거래 가격 범위</td>
					<td colspan="2" class="tableRowValue"><span id="salePriceRangeRow-value-lowest" th:utext="${productVO.lowestSoldPrice}"></span> ~ <span id="salePriceRangeRow-value-highest" th:utext="${productVO.highestSoldPrice}"></span></td>
				</tr>
				<tr>
					<td class="tableRowName">발매 가격</td>
					<td colspan="2" class="tableRowValue"><span th:utext="${productVO.retailPrice}"></span></td>
				</tr>
					<tr style="border-top: 2px solid">
						<td style="border-left: none; border-right: none;" class="table2RowName">브랜드</td>
						<td style="border-left: none; border-right: none;" class="table2RowName col-size">사이즈</td>
						<td style="border-left: none; border-right: none;" class="table2RowName">코드</td> 
					</tr>
					<tr style="border-bottom: none;">
						<td style="border-left: none; border-right: none;" class="table2RowValue"><span th:utext="${productVO.brand}"></span></td>
						<td style="border-left: none; border-right: none;" class="table2RowValue col-size"><span id="col-size-value" th:utext="${productVO.size}"></span></td>
						<td style="border-left: none; border-right: none;" class="table2RowValue"><span th:utext="${productVO.code}"></span></td>
					</tr>
				</tbody>
				</table>
				<div id="lastUpdatedDate">
					<span th:utext="|${productVO.lastUpdateDate} 기준|" style="color:#B8B8B8"></span>
				</div>
				<div id="information-body-content" style="color:#5e5e5e">
					<span th:utext=${productVO.content} ></span><br>
				</div>
				</div>
				</div>
			</div>
		</div>

		<div sec:authorize="hasRole('ADMIN')" class="d-grid gap-3 d-md-flex justify-content-md-center" style="margin-bottom:20px">
		<a sec:authorize="hasRole('ADMIN')" class="btn btn-dark align-items-center" th:onclick="javascript:move([[${productVO.id}]])">
			MODIFY		 
		</a>
		<button sec:authorize="hasRole('ADMIN')" class="btn btn-dark align-items-center" id="detail-product-delete" th:is="${productVO.id}">
			DELETE	 
		</button>
		<a sec:authorize="hasRole('ADMIN')" th:href="@{/raffle-insert(productId=${productVO.id})}"
							 class="btn btn-dark align-items-center" >
			RAFFLE-INSERT					 
		</a>
			<a sec:authorize="hasRole('ADMIN')" th:href="@{/raffle/addition/list(productId=${productVO.id})}"
				 class="btn btn-danger align-items-center" >
				RAFFLE-INSERT-V2
			</a>
			<a sec:authorize="hasRole('ADMIN')" th:href="@{/raffle-auto-insert(productName=${productVO.model_kr},productId=${productVO.id})}"
				 class="btn btn-danger align-items-center" >
				RAFFLE-AUTO-INSERT
			</a>
		</div>
</div>

<div sec:authorize="!hasRole('ADMIN')" class="container-fluid d-flex justify-content-center" style="margin-bottom:50px; max-width:320px;">
<ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-aQzc86eReIEXTJh9" 
 data-ad-width   = "320" 
 data-ad-height  = "50"></ins> 
</div>

<div id="raffle-container" class="container-fluid d-flex flex-wrap justify-content-center align-items-start">
<div class="raffle-inner-container">
<div class="container-fluid d-flex flex-wrap justify-content-center align-items-center firstcome-list-container">	
	<div id="goingFirstcomeDiv" class="draws-numbers"><span id="goingFirstcomeName">&nbsp;국내 선착순: </span><span id="goingFirstcomeNum" th:text="|${goingFirstcomeNum+readyFirstcomeNum}|"></span>&nbsp;</div>
	<div class="detail-raffle w-100  goingFirstcome" th:each="list : ${goingFirstcomeList}">
		<div class="d-flex flex-column align-items-center" th:id="|card-${list.id}|">
		<div class="container d-flex flex-column raffleCardDetail">
	
		<div class="d-flex drawCard" th:attr="url=${list.url}">
			<div class="d-flex flex-column justify-content-center align-items-center" style="margin-right:10px">
				<img th:src="${list.imgSrc}" style="height:70px; width:70px;"/>
			</div>
			<div>
				<span class="draw-storeName" th:text="${list.storeName}"></span><br/> 
				<span th:if="${list.specialCase != ''}" th:text="|[${list.specialCase}]|" style="color:#fe0100; font-weight:bold;"></span><span th:if="${list.specialCase != ''}"><br/></span>
				<span class="raffleDateTime" th:text="|시작: ${#strings.substringAfter(list.startDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.startTime}"></span><br/> 
				<span th:text="${list.country}"></span>&nbsp;<span th:text="${list.delivery}"></span>
				<span th:if="${list.payType != ''}" th:text="|(${list.payType})|"></span>
				<span th:if="${list.content != ''}"><span class="sneakBtn" th:is="${list.id}"><img th:src="@{image/raffle/button/SNEAK_60x15.png}"/></span></span>
			</div>
		</div>
		
		<div th:id="|raffleCardDetail-content${list.id}|" class="raffle-card-detail-content" th:utext="${list.content}"></div>
			<div sec:authorize="hasRole('ADMIN')" class="d-flex">
				<a class="btn btn-warning detail-raffle-modify flex-grow-1" th:is="${list.id}">Modify</a>
				<a class="btn btn-danger detail-raffle-delete flex-grow-1" th:is="${list.id}">Delete</a>
			</div>
		</div>
		
		</div>
	</div>
		<div class="detail-raffle w-100" th:each="list : ${readyFirstcomeList}">
		<div class="d-flex flex-column align-items-center" th:id="|card-${list.id}|">
		<div class="container d-flex flex-column raffleCardDetail">
	
		<div class="d-flex drawCard" th:attr="url=${list.url}">
			<div class="d-flex flex-column justify-content-center align-items-center" style="margin-right:10px">
				<img th:src="${list.imgSrc}" style="height:70px; width:70px;"/>
			</div>
			<div>
				<span class="draw-storeName" th:text="${list.storeName}"></span><br/> 
				<span th:if="${list.specialCase != ''}" th:text="|[${list.specialCase}]|" style="color:#fe0100; font-weight:bold;"></span><span th:if="${list.specialCase != ''}"><br/></span>
				<span class="raffleDateTime" th:text="|시작: ${#strings.substringAfter(list.startDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.startTime}"></span><br/> 
				<span th:text="${list.country}"></span>&nbsp;<span th:text="${list.delivery}"></span>
				<span th:if="${list.payType != ''}" th:text="|(${list.payType})|"></span>
				<span th:if="${list.content != ''}"><button type="button" class="sneakBtn" th:is="${list.id}"><img th:src="@{image/raffle/button/SNEAK_60x15.png}"/></button></span>
			</div>
		</div>
		
		<div th:id="|raffleCardDetail-content${list.id}|" class="raffle-card-detail-content" th:utext="${list.content}"></div>
			<div sec:authorize="hasRole('ADMIN')" class="d-flex">
				<a class="btn btn-warning detail-raffle-modify flex-grow-1" th:is="${list.id}">Modify</a>
				<a class="btn btn-danger detail-raffle-delete flex-grow-1" th:is="${list.id}">Delete</a>
			</div>
		</div>
		</div>
	</div>
</div>
<div id="container-goingFirstcome-direct" class="container-fluid d-flex flex-wrap justify-content-center align-items-center firstcome-list-container">
	<div id="goingFirstcomeDiv-direct" class="draws-numbers"><span id="goingFirstcomeName-direct">&nbsp;직배 선착순: </span><span id="goingFirstcomeNum-direct" th:text="|${goingFirstcomeNum_direct+readyFirstcomeNum_direct}|"></span>&nbsp;</div>
	
	<div class="detail-raffle w-100" th:each="list : ${goingFirstcomeList_direct}">
		<div class="d-flex flex-column align-items-center" th:id="|card-${list.id}|">
		<div class="container d-flex flex-column raffleCardDetail">
	
		<div class="d-flex drawCard" th:attr="url=${list.url}">
			<div class="d-flex flex-column justify-content-center align-items-center" style="margin-right:10px">
				<img th:src="${list.imgSrc}" style="height:70px; width:70px;"/>
			</div>
			<div>
				<span class="draw-storeName" th:text="${list.storeName}"></span><br/> 
				<span th:if="${list.specialCase != ''}" th:text="|[${list.specialCase}]|" style="color:#fe0100; font-weight:bold;"></span><span th:if="${list.specialCase != ''}"><br/></span>
				<span class="raffleDateTime" th:text="|시작: ${#strings.substringAfter(list.startDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.startTime}"></span><br/> 
				<span th:text="${list.country}"></span>&nbsp;<span th:text="${list.delivery}"></span>
				<span th:if="${list.payType != ''}" th:text="|(${list.payType})|"></span>
				<span th:if="${list.content != ''}"><button type="button" class="sneakBtn" th:is="${list.id}"><img th:src="@{image/raffle/button/SNEAK_60x15.png}"/></button></span>
			</div>
		</div>
		
		<div th:id="|raffleCardDetail-content${list.id}|" class="raffle-card-detail-content" th:utext="${list.content}"></div>
			<div sec:authorize="hasRole('ADMIN')" class="d-flex">
				<a class="btn btn-warning detail-raffle-modify flex-grow-1" th:is="${list.id}">Modify</a>
				<a class="btn btn-danger detail-raffle-delete flex-grow-1" th:is="${list.id}">Delete</a>
			</div>
		</div>
		
		</div>
	</div>
		<div class="detail-raffle w-100" th:each="list : ${readyFirstcomeList_direct}">
		<div class="d-flex flex-column align-items-center" th:id="|card-${list.id}|">
		<div class="container d-flex flex-column raffleCardDetail">
	
		<div class="d-flex drawCard" th:attr="url=${list.url}">
			<div class="d-flex flex-column justify-content-center align-items-center" style="margin-right:10px">
				<img th:src="${list.imgSrc}" style="height:70px; width:70px;"/>
			</div>
			<div>
				<span class="draw-storeName" th:text="${list.storeName}"></span><br/> 
				<span th:if="${list.specialCase != ''}" th:text="|[${list.specialCase}]|" style="color:#fe0100; font-weight:bold;"></span><span th:if="${list.specialCase != ''}"><br/></span>
				<span class="raffleDateTime" th:text="|시작: ${#strings.substringAfter(list.startDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.startTime}"></span><br/> 
				<span th:text="${list.country}"></span>&nbsp;<span th:text="${list.delivery}"></span>
				<span th:if="${list.payType != ''}" th:text="|(${list.payType})|"></span>
				<span th:if="${list.content != ''}"><button type="button" class="sneakBtn" th:is="${list.id}"><img th:src="@{image/raffle/button/SNEAK_60x15.png}"/></button></span>
			</div>
		</div>
		
		<div th:id="|raffleCardDetail-content${list.id}|" class="raffle-card-detail-content" th:utext="${list.content}"></div>
			<div sec:authorize="hasRole('ADMIN')" class="d-flex">
				<a class="btn btn-warning detail-raffle-modify flex-grow-1" th:is="${list.id}">Modify</a>
				<a class="btn btn-danger detail-raffle-delete flex-grow-1" th:is="${list.id}">Delete</a>
			</div>
		</div>
		
		</div>
	</div>
</div>
<div class="container-fluid d-flex flex-wrap justify-content-center align-items-center firstcome-list-container">
	<div id="goingFirstcomeDiv-agent" class="draws-numbers"><span id="goingFirstcomeName-agent">&nbsp;배대지 선착순: </span><span id="goingFirstcomeNum-agent" th:text="|${goingFirstcomeNum_agent+readyFirstcomeNum_agent}|"></span>&nbsp;</div>
	
	<div class="detail-raffle w-100" th:each="list : ${goingFirstcomeList_agent}">
	<div class="d-flex flex-column align-items-center" th:id="|card-${list.id}|">
		<div class="container-fluid d-flex flex-column raffleCardDetail">
			
		<div class="d-flex drawCard" th:attr="url=${list.url}">
			<div class="d-flex flex-column justify-content-center align-items-center" style="margin-right:10px">
				<img th:src="${list.imgSrc}" style="height:70px; width:70px;"/>
			</div>
			<div>
				<span class="draw-storeName" th:text="${list.storeName}"></span><br/>
				<span th:if="${list.specialCase != ''}" th:text="|[${list.specialCase}]|" style="color:#fe0100; font-weight:bold;"></span><span th:if="${list.specialCase != ''}"><br/></span>
				<span class="raffleDateTime" th:text="|시작: ${#strings.substringAfter(list.startDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.startTime}"></span><br/>
				<span th:text="${list.country}"></span>&nbsp;<span th:text="${list.delivery}"></span>
				<span th:if="${list.payType != ''}" th:text="|(${list.payType})|"></span>
		  	<span th:if="${list.content != ''}"><button type="button" class="sneakBtn" th:is="${list.id}"><img th:src="@{image/raffle/button/SNEAK_60x15.png}"/></button></span>
		  </div>
		</div>
			  
		<div th:id="|raffleCardDetail-content${list.id}|" class="raffle-card-detail-content" th:utext="${list.content}"></div>
		<div sec:authorize="hasRole('ADMIN')" class="d-flex">
			<a class="btn btn-warning detail-raffle-modify flex-grow-1" th:is="${list.id}">Modify</a>
			<a class="btn btn-danger detail-raffle-delete flex-grow-1" th:is="${list.id}">Delete</a>
		</div>
						
		</div>
	</div>
	</div>
	<div class="detail-raffle w-100" th:each="list : ${readyFirstcomeList_agent}">
	<div class="d-flex flex-column align-items-center" th:id="|card-${list.id}|">
		<div class="container-fluid d-flex flex-column raffleCardDetail">
		
		<div class="d-flex drawCard" th:attr="url=${list.url}">
			<div class="d-flex flex-column justify-content-center align-items-center" style="margin-right:10px">
				<img th:src="${list.imgSrc}" style="height:70px; width:70px;"/>
			</div>
			<div>
				<span class="draw-storeName" th:text="${list.storeName}"></span><br/>
				<span th:if="${list.specialCase != ''}" th:text="|[${list.specialCase}]|" style="color:#fe0100; font-weight:bold;"></span><span th:if="${list.specialCase != ''}"><br/></span>
				<span class="raffleDateTime" th:text="|시작: ${#strings.substringAfter(list.startDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.startTime}"></span><br/>
				<span th:text="${list.country}"></span>&nbsp;<span th:text="${list.delivery}"></span>
				<span th:if="${list.payType != ''}" th:text="|(${list.payType})|"></span>
		  	<span th:if="${list.content != ''}"><button type="button" class="sneakBtn" th:is="${list.id}"><img th:src="@{image/raffle/button/SNEAK_60x15.png}"/></button></span>
		  </div>
		</div>
			
		<div th:id="|raffleCardDetail-content${list.id}|" class="raffle-card-detail-content" th:utext="${list.content}"></div>
		<div sec:authorize="hasRole('ADMIN')" class="d-flex">
			<a class="btn btn-warning detail-raffle-modify flex-grow-1" th:is="${list.id}">Modify</a>
			<a class="btn btn-danger detail-raffle-delete flex-grow-1" th:is="${list.id}">Delete</a>
		</div>
			
		</div>
	</div>
	</div>

</div>
<div class="container-fluid d-flex flex-wrap justify-content-center align-items-center firstcome-list-container">
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center raffle-list-container">
		<div id="endedFirstcomeCardsDiv" class="draws-numbers" is="0"><span id="endedFirstcomeCardsName">지난 선착순 보기:&nbsp;</span><span id="endedFirstcomeCardsNum" th:text="|${endedFirstcomeNum}|"></span></div>
		<div class="w-100 endedFirstcomeCard" th:each="list : ${endedFirstcomeList}">
			<div class="d-flex flex-column align-items-center endedFirstcomeCard" th:id="|card-${list.id}|">
				<div class="container-fluid d-flex flex-column raffleCardDetail endedFirstcomeCard" style="display:none;" >

					<div class="d-flex drawCard endedFirstcomeCard" th:attr="url=${list.url}" style="opacity:0.25; display:none;">
						<div class="d-flex flex-column justify-content-center align-items-center endedFirstcomeCard" style="margin-right:10px">
							<img class="endedFirstcomeCard" th:src="${list.imgSrc}" style="height:70px; width:70px; display:none;"/>
						</div>
						<div class="endedFirstcomeCard" style="display:none;">
							<span class="draw-storeName" th:text="${list.storeName}"></span><br/>
							<span th:if="${list.specialCase != ''}" th:text="|[${list.specialCase}]|" style="color:#fe0100; font-weight:bold;"></span><span th:if="${list.specialCase != ''}"><br/></span>
							<span class="raffleDateTime" th:text="|시작: ${#strings.substringAfter(list.startDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.startTime}"></span><br/>
							<span th:text="${list.country}"></span>&nbsp;<span th:text="${list.delivery}"></span>
							<span th:if="${list.payType != ''}" th:text="|(${list.payType})|"></span>
							<span th:if="${list.content != ''}"><button type="button" class="sneakBtn" th:is="${list.id}"><img th:src="@{image/raffle/button/SNEAK_60x15.png}"/></button></span>
						</div>
					</div>

					<div th:id="|raffleCardDetail-content${list.id}|" class="raffle-card-detail-content" th:utext="${list.content}"></div>
					<div sec:authorize="hasRole('ADMIN')" class="d-flex">
						<a class="endedFirstcomeCard btn btn-warning detail-raffle-modify flex-grow-1" th:is="${list.id}" style="display:none;">Modify</a>
						<a class="endedFirstcomeCard btn btn-danger detail-raffle-delete flex-grow-1" th:is="${list.id}" style="display:none;">Delete</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="raffle-inner-container">
<div class="container-fluid d-flex flex-wrap justify-content-center align-items-center raffle-list-container">
	<div id="goingRaffleDiv" class="draws-numbers"><span id="goingRaffleName">&nbsp;국내 응모: </span><span id="goingRaffleNum" th:text="|${goingRaffleNum+readyRaffleNum}|"></span>&nbsp;</div>
	
	<div class="detail-raffle w-100" th:each="list : ${goingRaffleList}">
	<div class="d-flex flex-column align-items-center" th:id="|card-${list.id}|">
		<div class="container-fluid d-flex flex-column raffleCardDetail">
			
		<div class="d-flex drawCard" th:attr="url=${list.url}">
			<div class="d-flex flex-column justify-content-center align-items-center" style="margin-right:10px">
				<img th:src="${list.imgSrc}" style="height:70px; width:70px;"/>
			</div>
			<div>
				<span class="draw-storeName" th:text="${list.storeName}"></span><br/>
				<span th:if="${list.specialCase != ''}" th:text="|[${list.specialCase}]|" style="color:#fe0100; font-weight:bold;"></span><span th:if="${list.specialCase != ''}"><br/></span>
				<span class="raffleDateTime" th:text="|종료: ${#strings.substringAfter(list.endDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.endTime}"></span><br/>
				<span th:text="${list.country}"></span>&nbsp;<span th:text="${list.delivery}"></span>
				<span th:if="${list.payType != ''}" th:text="|(${list.payType})|"></span>
		  	<span th:if="${list.content != ''}"><button type="button" class="sneakBtn" th:is="${list.id}"><img th:src="@{image/raffle/button/SNEAK_60x15.png}"/></button></span>
		  </div>
		</div>
			  
		<div th:id="|raffleCardDetail-content${list.id}|" class="raffle-card-detail-content" th:utext="${list.content}"></div>
		<div sec:authorize="hasRole('ADMIN')" class="d-flex">
			<a class="btn btn-warning detail-raffle-modify flex-grow-1" th:is="${list.id}">Modify</a>
			<a class="btn btn-danger detail-raffle-delete flex-grow-1" th:is="${list.id}">Delete</a>
		</div>
						
		</div>
	</div>
	</div>
	<div class="detail-raffle w-100" th:each="list : ${readyRaffleList}">
	<div class="d-flex flex-column align-items-center" th:id="|card-${list.id}|">
		<div class="container-fluid d-flex flex-column raffleCardDetail">
		
		<div class="d-flex drawCard" th:attr="url=${list.url}"  style="opacity:0.25;" >
			<div class="d-flex flex-column justify-content-center align-items-center" style="margin-right:10px">
				<img th:src="${list.imgSrc}" style="height:70px; width:70px;"/>
			</div>
			<div>
				<span class="draw-storeName" th:text="${list.storeName}"></span><br/>
				<span th:if="${list.specialCase != ''}" th:text="|[${list.specialCase}]|" style="color:#fe0100; font-weight:bold;"></span><span th:if="${list.specialCase != ''}"><br/></span>
				<span class="raffleDateTime" th:text="|시작: ${#strings.substringAfter(list.startDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.startTime}"></span><br/>
				<span class="raffleDateTime" th:text="|종료: ${#strings.substringAfter(list.endDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.endTime}"></span><br/>
				<span th:text="${list.country}"></span>&nbsp;<span th:text="${list.delivery}"></span>
				<span th:if="${list.payType != ''}" th:text="|(${list.payType})|"></span>
		  	<span th:if="${list.content != ''}"><button type="button" class="sneakBtn" th:is="${list.id}"><img th:src="@{image/raffle/button/SNEAK_60x15.png}"/></button></span>
		  </div>
		</div>
			
		<div th:id="|raffleCardDetail-content${list.id}|" class="raffle-card-detail-content" th:utext="${list.content}"></div>
		<div sec:authorize="hasRole('ADMIN')" class="d-flex">
			<a class="btn btn-warning detail-raffle-modify flex-grow-1" th:is="${list.id}">Modify</a>
			<a class="btn btn-danger detail-raffle-delete flex-grow-1" th:is="${list.id}">Delete</a>
		</div>
			
		</div>
	</div>
	</div>
</div>

<div class="container-fluid d-flex flex-wrap justify-content-center align-items-center raffle-list-container">
	<div id="goingRaffleDiv-direct" class="draws-numbers"><span id="goingRaffleName-direct">&nbsp;직배 응모: </span><span id="goingRaffleNum-direct" th:text="|${goingRaffleNum_direct+readyRaffleNum_direct}|"></span>&nbsp;</div>
	
	<div class="detail-raffle w-100" th:each="list : ${goingRaffleList_direct}">
	<div class="d-flex flex-column align-items-center" th:id="|card-${list.id}|">
		<div class="container-fluid d-flex flex-column raffleCardDetail">
			
		<div class="d-flex drawCard" th:attr="url=${list.url}">
			<div class="d-flex flex-column justify-content-center align-items-center" style="margin-right:10px">
				<img th:src="${list.imgSrc}" style="height:70px; width:70px;"/>
			</div>
			<div>
				<span class="draw-storeName" th:text="${list.storeName}"></span><br/>
				<span th:if="${list.specialCase != ''}" th:text="|[${list.specialCase}]|" style="color:#fe0100; font-weight:bold;"></span><span th:if="${list.specialCase != ''}"><br/></span>
				<span class="raffleDateTime" th:text="|종료: ${#strings.substringAfter(list.endDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.endTime}"></span><br/>
				<span th:text="${list.country}"></span>&nbsp;<span th:text="${list.delivery}"></span>
				<span th:if="${list.payType != ''}" th:text="|(${list.payType})|"></span>
		  	<span th:if="${list.content != ''}"><button type="button" class="sneakBtn" th:is="${list.id}"><img th:src="@{image/raffle/button/SNEAK_60x15.png}"/></button></span>
		  </div>
		</div>
			  
		<div th:id="|raffleCardDetail-content${list.id}|" class="raffle-card-detail-content" th:utext="${list.content}"></div>
		<div sec:authorize="hasRole('ADMIN')" class="d-flex">
			<a class="btn btn-warning detail-raffle-modify flex-grow-1" th:is="${list.id}">Modify</a>
			<a class="btn btn-danger detail-raffle-delete flex-grow-1" th:is="${list.id}">Delete</a>
		</div>
						
		</div>
	</div>
	</div>
	<div class="detail-raffle w-100" th:each="list : ${readyRaffleList_direct}">
	<div class="d-flex flex-column align-items-center" th:id="|card-${list.id}|">
		<div class="container-fluid d-flex flex-column raffleCardDetail">
		
		<div class="d-flex drawCard" th:attr="url=${list.url}"  style="opacity:0.25;">
			<div class="d-flex flex-column justify-content-center align-items-center" style="margin-right:10px">
				<img th:src="${list.imgSrc}" style="height:70px; width:70px;"/>
			</div>
			<div>
				<span class="draw-storeName" th:text="${list.storeName}"></span><br/>
				<span th:if="${list.specialCase != ''}" th:text="|[${list.specialCase}]|" style="color:#fe0100; font-weight:bold;"></span><span th:if="${list.specialCase != ''}"><br/></span>
				<span class="raffleDateTime" th:text="|시작: ${#strings.substringAfter(list.startDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.startTime}"></span><br/>
				<span class="raffleDateTime" th:text="|종료: ${#strings.substringAfter(list.endDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.endTime}"></span><br/>
				<span th:text="${list.country}"></span>&nbsp;<span th:text="${list.delivery}"></span>
				<span th:if="${list.payType != ''}" th:text="|(${list.payType})|"></span>
		  	<span th:if="${list.content != ''}"><button type="button" class="sneakBtn" th:is="${list.id}"><img th:src="@{image/raffle/button/SNEAK_60x15.png}"/></button></span>
		  </div>
		</div>
			
		<div th:id="|raffleCardDetail-content${list.id}|" class="raffle-card-detail-content" th:utext="${list.content}"></div>
		<div sec:authorize="hasRole('ADMIN')" class="d-flex">
			<a class="btn btn-warning detail-raffle-modify flex-grow-1" th:is="${list.id}">Modify</a>
			<a class="btn btn-danger detail-raffle-delete flex-grow-1" th:is="${list.id}">Delete</a>
		</div>
			
		</div>
	</div>
	</div>

</div>

<div class="container-fluid d-flex flex-wrap justify-content-center align-items-center raffle-list-container">
	<div id="goingRaffleDiv-agent" class="draws-numbers"><span id="goingRaffleName-agent">&nbsp;배대지 응모: </span><span id="goingRaffleNum-agent" th:text="|${goingRaffleNum_agent+readyRaffleNum_agent}|"></span>&nbsp;</div>
	
	<div class="detail-raffle w-100" th:each="list : ${goingRaffleList_agent}">
	<div class="d-flex flex-column align-items-center" th:id="|card-${list.id}|">
		<div class="container-fluid d-flex flex-column raffleCardDetail">
			
		<div class="d-flex drawCard" th:attr="url=${list.url}">
			<div class="d-flex flex-column justify-content-center align-items-center" style="margin-right:10px">
				<img th:src="${list.imgSrc}" style="height:70px; width:70px;"/>
			</div>
			<div>
				<span class="draw-storeName" th:text="${list.storeName}"></span><br/>
				<span th:if="${list.specialCase != ''}" th:text="|[${list.specialCase}]|" style="color:#fe0100; font-weight:bold;"></span><span th:if="${list.specialCase != ''}"><br/></span>
				<span class="raffleDateTime" th:text="|종료: ${#strings.substringAfter(list.endDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.endTime}"></span><br/>
				<span th:text="${list.country}"></span>&nbsp;<span th:text="${list.delivery}"></span>
				<span th:if="${list.payType != ''}" th:text="|(${list.payType})|"></span>
		  	<span th:if="${list.content != ''}"><button type="button" class="sneakBtn" th:is="${list.id}"><img th:src="@{image/raffle/button/SNEAK_60x15.png}"/></button></span>
		  </div>
		</div>
			  
		<div th:id="|raffleCardDetail-content${list.id}|" class="raffle-card-detail-content" th:utext="${list.content}"></div>
		<div sec:authorize="hasRole('ADMIN')" class="d-flex">
			<a class="btn btn-warning detail-raffle-modify flex-grow-1" th:is="${list.id}">Modify</a>
			<a class="btn btn-danger detail-raffle-delete flex-grow-1" th:is="${list.id}">Delete</a>
		</div>
						
		</div>
	</div>
	</div>
	<div class="detail-raffle w-100" th:each="list : ${readyRaffleList_agent}">
	<div class="d-flex flex-column align-items-center" th:id="|card-${list.id}|">
		<div class="container-fluid d-flex flex-column raffleCardDetail">
		
		<div class="d-flex drawCard" th:attr="url=${list.url}"  style="opacity:0.25;">
			<div class="d-flex flex-column justify-content-center align-items-center" style="margin-right:10px">
				<img th:src="${list.imgSrc}" style="height:70px; width:70px;"/>
			</div>
			<div>
				<span class="draw-storeName" th:text="${list.storeName}"></span><br/>
				<span th:if="${list.specialCase != ''}" th:text="|[${list.specialCase}]|" style="color:#fe0100; font-weight:bold;"></span><span th:if="${list.specialCase != ''}"><br/></span>
				<span class="raffleDateTime" th:text="|시작: ${#strings.substringAfter(list.startDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.startTime}"></span><br/>
				<span class="raffleDateTime" th:text="|종료: ${#strings.substringAfter(list.endDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.endTime}"></span><br/>
				<span th:text="${list.country}"></span>&nbsp;<span th:text="${list.delivery}"></span>
				<span th:if="${list.payType != ''}" th:text="|(${list.payType})|"></span>
		  	<span th:if="${list.content != ''}"><button type="button" class="sneakBtn" th:is="${list.id}"><img th:src="@{image/raffle/button/SNEAK_60x15.png}"/></button></span>
		  </div>
		</div>
			
		<div th:id="|raffleCardDetail-content${list.id}|" class="raffle-card-detail-content" th:utext="${list.content}"></div>
		<div sec:authorize="hasRole('ADMIN')" class="d-flex">
			<a class="btn btn-warning detail-raffle-modify flex-grow-1" th:is="${list.id}">Modify</a>
			<a class="btn btn-danger detail-raffle-delete flex-grow-1" th:is="${list.id}">Delete</a>
		</div>
			
		</div>
	</div>
	</div>
</div>

<div class="container-fluid d-flex flex-wrap justify-content-center align-items-center raffle-list-container">
	<div class="container-fluid d-flex justify-content-center">
		<div id="endedRaffleCardsDiv" class="draws-numbers" is="0"><span id="endedRaffleCards">지난 응모 보기:&nbsp;</span><span id="endedRaffleCardsNum" th:text="|${endedRaffleNum}|"></span></div>
	</div>
	
	<div class="raffleCardDetail endedRaffleCard" th:each="list : ${endedRaffleList}">
	<div class="d-flex flex-column align-items-center endedRaffleCard" th:id="|card-${list.id}|">
		<div class="container-fluid d-flex flex-column endedRaffleCard" >
		
		<div class="d-flex drawCard endedRaffleCard raffleCardDetail" th:attr="url=${list.url}" style="opacity:0.25;">
		<div class="d-flex flex-column justify-content-center align-items-center endedRaffleCard" style="margin-right:10px;">
			<img class="endedRaffleCard" th:src="${list.imgSrc}" style="height:70px; width:70px; display:none;"/>
		</div>
		<div class="endedRaffleCard" style="display:none;">
			<span class="draw-storeName" th:text="${list.storeName}"></span><br/>
			<span th:if="${list.specialCase != ''}" th:text="|[${list.specialCase}]|" style="color:#fe0100; font-weight:bold;"></span><span th:if="${list.specialCase != ''}"><br/></span>
			<span class="raffleDateTime" th:text="|시작: ${#strings.substringAfter(list.startDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.startTime}"></span><br/>
			<span class="raffleDateTime" th:text="|종료: ${#strings.substringAfter(list.endDate,'/')}|"></span>&nbsp;<span class="raffleDateTime" th:text="${list.endTime}"></span><br/> 
			<span th:text="${list.country}"></span>&nbsp;<span th:text="${list.delivery}"></span>
			<span th:if="${list.payType != ''}" th:text="|(${list.payType})|"></span>
			<span th:if="${list.content != ''}"><button type="button" class="sneakBtn" th:is="${list.id}"><img th:src="@{image/raffle/button/SNEAK_60x15.png}"/></button></span>
		</div>
		</div>
		
		<div th:id="|raffleCardDetail-content${list.id}|" class="raffle-card-detail-content" th:utext="${list.content}"></div>
		<div sec:authorize="hasRole('ADMIN')" class="d-flex">
			<a class="endedRaffleCard btn btn-warning detail-raffle-modify flex-grow-1" th:is="${list.id}" style="display:none">Modify</a>
			<a class="endedRaffleCard btn btn-danger detail-raffle-delete flex-grow-1" th:is="${list.id}" style="display:none">Delete</a>
		</div>
		</div>
	</div>
	</div>
</div>
</div>

</div>
</div>
</html>