<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
<script type="text/javascript" th:src="@{se2/js/service/HuskyEZCreator.js}" charset="utf-8"></script>
<script type="text/javascript">
		
var albumBucketName = 'sneakalarm.media';
var bucketRegion = 'ap-northeast-2';
var IdentityPoolId = 'ap-northeast-2:e33e44cf-1621-4149-98b8-9dd28c45ecc8';
	
AWS.config.update({
	  region: bucketRegion,
	  credentials: new AWS.CognitoIdentityCredentials({ IdentityPoolId: IdentityPoolId })
});

var s3 = new AWS.S3({
	  apiVersion: '2006-03-01',
	  params: {Bucket: albumBucketName}
});



$('document').ready(function(){
	$('#photoupload').change(function(){
		var fileList = this.files;
		for(var i=0; i<fileList.length; i++){
			fileList[i].name = fileList[i].name.replace(/^C:\\fakepath\\/gi, '');
			console.log(fileList[i].name);
		}
	});
	
 	$('#submitBtn').click(function(){
 		console.log($('photoupload').val());
 		submitContents();
   	$.ajax({
	  	url:'./product-insert',
	    type:'post',
	    data:{
       	name: $('#name').val(),
	     	code: $('#code').val(),
	     	price: $('#price').val(),
	     	brand: $('#brand').val(),
	     	content: $('#content').val(),
	     	fileList: $('#photoupload').val()
	    },
	    success: function(data) {
				imgUpload();
	   	},
	    error: function(){
	    	alert('error!');
	    }
	  });
  });
 	function imgUpload(){
 	 	var albumName = $('#code').val();
 	 	var files = document.getElementById('photoupload').files;
 	 	console.log('got files');
 	 	if (!files.length) {
 	 		return alert('Please choose a file to upload first.');
 	 	}
 	 	var file = files[0];
 	 	var fileName = file.name.replace(/^C:\\fakepath\\/gi, '');
 	 	console.log('fileName:'+fileName);
 		var albumPhotosKey = 'product/'+encodeURIComponent(albumName)+'/';
 		console.log('albumPhotosKey:'+albumPhotosKey);
 		var photoKey = albumPhotosKey + fileName;
 		
 		s3.upload({
 			Key: photoKey,
 			Body: file,
 			ACL: 'public-read'
 		}, 
 		function(err, data) {
 			if (err) {
 		  	alert('There was an error uploading your photo: ', err.message);
 			}
 			alert('Successfully uploaded photo.');
 		 	  location.href='/';
 		});
 	}	
});

function deleteFakepath(){
	
}

</script>
</th:block>

<div layout:fragment="content">
<div class="container-fluid d-flex justify-content-center" style="margin-top:100px">
<div class="productinsert">
<h1 class="text-center mb-3">제품 등록</h1>
<form action="/product-insert" method="post" id="insertform" class="productinsert-form" >
  <div class="mb-3 row">
		<label for="name" class="col-sm-2 col-form-label text-center">모델</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="name" name="name" required="required"/>
			</div>
	</div>
	<div class="mb-3 row">
		<label for="code" class="col-sm-2 col-form-label text-center">상품 코드</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="code" name="code" required="required"/>
			</div>
	</div>
	<div class="mb-3 row">
		<label for="price" class="col-sm-2 col-form-label text-center">발매 가격</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="price" name="price" required="required"/>
			</div>
	</div>
	<div class="mb-3 row">
		<label for="brand" class="col-sm-2 col-form-label text-center">브랜드</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="brand" name="brand" required="required"/>
			</div>
	</div>
	<div class="mb-3 row">
		<label for="content" class="col-sm-2 col-form-label text-center">내용</label>
			<div class="col-sm-10">
				<textarea name="content" id="content" rows="10" cols="100"></textarea>
			</div>
	</div>
	<div class="mb-3 row">
 			<label for="photoupload" class="col-sm-2 col-form-label text-center">이미지</label>
 			<div class="col-sm-10">
 			<input class="form-control form-control-lg" type="file" id="photoupload" name="fileList" multiple required="required" onchange="deleteFakepath()">
 			<div id="filenames">??</div>
 			</div>
	</div>
	<div class="mb-3 row">
		<button type="button" class="btn btn-danger col-sm-12" id="submitBtn">등록</button>
	</div>
</form>
</div>
</div>
<script>
		var oEditors = [];
		nhn.husky.EZCreator.createInIFrame({
 			oAppRef: oEditors,
 			elPlaceHolder: "content",
 			sSkinURI: "se2/SmartEditor2Skin.html",
 			fCreator: "createSEditor2"
		});
		
		// ‘저장’ 버튼을 누르는 등 저장을 위한 액션을 했을 때 submitContents가 호출된다고 가정한다.
	function submitContents() {
		 // 에디터의 내용이 textarea에 적용된다.
		 oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);
		 // 에디터의 내용에 대한 값 검증은 이곳에서
		 // document.getElementById("content").value를 이용해서 처리한다.
	}
	</script>
</div>

</html>