<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml" 
			xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout/default">
	
<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
<script sec:authorize="hasRole('ADMIN')">
$('document').ready(function(){
	
	$('#detail-product-delete').click(function(){
		var code = $(this).attr('is');
			var res = confirm('code: '+code+'\n정말 삭제하시겠습니까?');
			if(res){
			$.ajax({
	  		url:'/product-delete',
	    	type:'get',
	    	data:{
	     		code: code
	    	},
	    	success: function(data) {
	    		alert('삭제되었습니다.');
	    		location.replace("/");
	   		},
	    	error: function(){
	    		alert('error!');
	    	}
			});
			}
	});
});

function move(code){
	location.replace("/modify-product?code="+code);
}
</script>
</th:block>

<div layout:fragment="content">
<div class="container">
	<div class="container detail-img" style="margin-top:77.5px">
		<div id="carouselExampleControls" class="carousel slide carousel-dark d-flex jusfity-content-center" data-bs-ride="carousel">
  		<div class="carousel-inner">
  			<div th:each="url, index : ${urlList_detail}" th:if="${index.count} eq 1" class="carousel-item active">
  				<img th:src="${url}" alt="..." class="detail-img">
  			</div>
  			<div th:each="url, index : ${urlList_detail}" th:unless="${index.count} eq 1" class="carousel-item">
  				<img th:src="${url}" alt="..." class="detail-img">
  			</div>
  		</div>
  		<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
    		<span class="visually-hidden">Previous</span>
  		</a>
  		<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    		<span class="carousel-control-next-icon" aria-hidden="true"></span>
    		<span class="visually-hidden">Next</span>
  		</a>
		</div>
	</div>
		<hr style="margin-top:20px;margin-bottom:20px"> 
		<div class="container d-flex justify-content-center">
			<div class="information">
				<p th:utext=${productVO.content}></p><br/>
			</div>
		</div>
		<div class="d-grid gap-3 d-md-flex justify-content-md-center" style="margin-bottom:20px">
		<a sec:authorize="hasRole('ADMIN')" class="btn btn-dark itemalign-center" th:onclick="javascript:move([[${productVO.code}]])">
			MODIFY		 
		</a>
		<button sec:authorize="hasRole('ADMIN')" class="btn btn-dark itemalign-center" id="detail-product-delete" th:is="${productVO.code}">
			DELETE	 
		</button>
		<a sec:authorize="hasRole('ADMIN')" th:href="@{/raffle-insert(code=${productVO.code},name=${productVO.name})}"
							 class="btn btn-dark itemalign-center" id="#detail-product-delete" style="display:none">
			RAFFLE-INSERT					 
		</a>
		</div>
</div>
</div>

</html>