<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
	<script type="text/javascript" th:src="@{js/util.js}" charset="utf-8"></script>
	<script type="text/javascript" th:src="@{js/raffle-setting.js}" charset="utf-8"></script>
<script>
</script>
</th:block>

<div layout:fragment="content">
	<div class="container-fluid d-flex justify-content-center main-container" style="margin-top:80px">
		<div class="raffle-setting">
			<h1 class="text-center">RAFFLE SETTING LIST</h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<td scope="col">#</td>
						<td scope="col">이름</td>
						<td scope="col">생성일시</td>
					</tr>
				</thead>
				<tbody class="raffle-setting-rows">
				</tbody>
			</table>
		</div>
	</div>
</div>
</html>