<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout/default">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/today.css}" type="text/css">
  <style>
	  #navbar-top__menu--today {
	    color: #000000;
	  }
	  #navbar-bottom--mobile__menu--today {
	    color: #000000;
	  }
  </style>
</th:block>
<th:block layout:fragment="script">
  <script type="text/javascript" src="/js/today.js" charset="utf-8"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
  <script>
  $(function() {
    $('.product-unregistered').hide();
      addDrawsByActiveProductList();
      setPopup();
      setScrollMoving(new ScrollController());
  });
  $(window).load(function(){
    $('.navbar__search-icon').hide();
    const observer = lozad();
    observer.observe();
  });
  </script>
  <script sec:authorize="!hasRole('ADMIN')">
    document.title = 'SNEAKALARM';
  </script>
  <script sec:authorize="hasRole('ADMIN')">
    document.title = '_SNEAKALARM';
  </script>

</th:block>



<div layout:fragment="content" class="container" id="today-page-width">
  <div class="today-main-container">
    <div style="margin-bottom: 10px;">
      <div id="clock" class="text-center"></div>
    </div>

    <div id="activeDrawsContainer">

      <h2 class="product-unregistered" style="text-align: center; font-weight:bold;">미등록 제품 응모</h2>
      <div class="product-unregistered" id="activeDraws-unregistered"></div>

      <hr class="today-draws-hr product-unregistered">

      <h2 style="text-align: center; font-weight:bold;">국내 응모</h2>
      <div id="activeDraws-korea"></div>

      <hr class="today-draws-hr">

      <h2 style="text-align: center; font-weight:bold;">직배 응모</h2>
      <div id="activeDraws-direct"></div>

      <hr class="today-draws-hr">

      <h2 style="text-align: center; font-weight:bold;">배대지 응모</h2>
      <div id="activeDraws-agent"></div>

    </div>
  </div>

  <img id="category-open-btn" src="/image/icon/36x36_category_open.png" alt="category-open-btn">

  <div id="category-list-popup" class="popCmmn">
    <div class="popBg"></div>
    <div class="popInnerBox">
      <div id="raffle-category-korea" class="raffle-category">국내 응모</div>
      <div id="raffle-category-direct" class="raffle-category">직배 응모</div>
      <div id="raffle-category-agent" class="raffle-category">배대지 응모</div>
    </div>

    <img id="category-close-btn" src="/image/icon/36x36_category_close.png">
  </div>
  </div>
</div>

</html>

