<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout/default">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/today.css}" type="text/css">
</th:block>
<th:block layout:fragment="script">
  <script type="text/javascript" src="/js/today.js" charset="utf-8"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
  <script>
    $(function () {
      $('.product-unregistered').hide();
      if ($('#activeDraws-unregistered').children().length > 0) {
        $('.product-unregistered').show();
      }
      setPopup();
      setScrollMoving(new ScrollController());
      setCookieSearchConditions();
      $('#navbar-bottom--mobile__menu--today').attr('src','/image/icon/navbar/btmnav_icn_raffle_ver1_on.svg');
      $('.search-icon-area').remove();
    });
    $(window).on('load', function () {
      let doneRaffleIdList = searchCookies("myRaffles");
      for(i in doneRaffleIdList) {
        $('#check-'+doneRaffleIdList[i]).attr('src','/image/icon/check_on.svg');
        $('#drawCard-'+doneRaffleIdList[i]).children('div').css('opacity','0.5');
      }
      $('.check').on('click',function(){
        onClickCheckMyRaffles($(this).attr('data-raffle-id'));
      });
      setCardsMaxHeight();
      const observer = lozad();
      observer.observe();
    });
  </script>
  <script sec:authorize="!hasRole('ADMIN')">
    document.title = 'SNEAKALARM';
  </script>
  <script sec:authorize="hasRole('ADMIN')">
    document.title = '_SNEAKALARM';
  </script>

</th:block>


<div layout:fragment="content" class="container" id="today-page-width">
  <div class="today-main-container">
    <div id="activeDrawsContainer">
      <th:block th:if="${unregisteredRaffleListSize &gt; 0}">
        <h2 class="product-unregistered" style="text-align: center; font-weight:bold;">미등록 제품 응모: <span
            th:text="${unregisteredRaffleListSize}"></span></h2>
    
        <div class="product-unregistered" id="activeDraws-unregistered">
          <div th:each="drawGroup : ${unregisteredDrawGroupList}" th:id="|todayUnregisteredDraw-${drawGroup.productVO.id}|"
            class="todayDrawContainer">
            <a class="item-zoom" th:href="|/product-detail?id=${drawGroup.productVO.id}|">
              <img th:id="|todayProductImg-${drawGroup.productVO.id}|" class="todayProductImg lozad"
                th:data-src="${drawGroup.productVO.imgSrc_home}" src="image/loading.gif" alt="loading..." />
            </a>
            <div
              th:class="|todayContentUnregistered-${drawGroup.productVO.id} todayDrawContentBox d-flex flex-wrap justify-content-center|">
              <div th:each="raffle : ${drawGroup.targetRaffleVOList}">
                <div th:if="${raffle.raffleType} == '응모'" class="todayDrawContent">
                  <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                    <div class="div-draw-model_kr"><span class="draw-model_kr" th:text="${raffle.model_kr}"></span></div>
                    <th:block th:include="fragments/active-raffle-content"></th:block>
                  </a>
                </div>
                <div th:unless="${raffle.raffleType} == '응모'" class="todayDrawContent">
                  <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                    <div class="div-draw-model_kr"><span class="draw-model_kr" th:text="${raffle.model_kr}"></span></div>
                    <th:block th:include="fragments/active-firstcome-content"></th:block>
                  </a>
                </div>
                <div class="check" th:data-raffle-id="${raffle.id}">
                  <img th:id="|check-${raffle.id}|" class="check__img" src="/image/icon/check_off.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="today-draws-hr product-unregistered">
      </th:block>
    
      <th:block th:if="${koreaRaffleListSize &gt; 0}">
        <h2 style="text-align: center; font-weight:bold;">국내 응모: <span th:text="${koreaRaffleListSize}"></span></h2>
    
        <div id="activeDraws-korea">
          <div th:each="drawGroup,index : ${koreaDrawGroupList}" th:id="|todayKoreaDraw-${drawGroup.productVO.id}|"
            class="todayDrawContainer">
            <a class="item-zoom" th:href="|/product-detail?id=${drawGroup.productVO.id}|">
              <img th:id="|todayProductImg-${drawGroup.productVO.id}|" class="todayProductImg lozad"
                th:data-src="${drawGroup.productVO.imgSrc_home}" src="image/loading.gif"
                th:alt="${drawGroup.productVO.model_kr}" />
            </a>
            <div class="todayDraw-model_kr" th:text="${drawGroup.productVO.model_kr}"></div>
            <div
              th:class="|todayDrawContentKorea-${drawGroup.productVO.id} todayDrawContentBox d-flex flex-wrap justify-content-center|">
              <div th:each="raffle : ${drawGroup.targetRaffleVOList}">
                <div th:if="${raffle.raffleType} == '응모'">
                  <div class="todayDrawContent">
                    <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                      <th:block th:include="fragments/active-raffle-content"></th:block>
                    </a>
                  </div>
                </div>
                <div th:unless="${raffle.raffleType} == '응모'">
                  <div class="todayDrawContent">
                    <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                      <th:block th:include="fragments/active-firstcome-content"></th:block>
                    </a>
                  </div>
                </div>
                <div class="check" th:data-raffle-id="${raffle.id}">
                  <img th:id="|check-${raffle.id}|" class="check__img" src="/image/icon/check_off.svg">
                </div>
              </div>
            </div>
            <!-- NOW 수평형 -->
            <th:block th:if="${index.index == 1}">
              <div style="display:inline-block; width:100%; height:100px;">
                <ins class="adsbygoogle" style="display:block;" data-ad-client="ca-pub-2682527241610745" data-ad-slot="4576674379"
                  data-ad-format="auto" data-full-width-responsive="true"></ins>
              </div>
            </th:block>
          </div>
        </div>
      </th:block>
    
      <th:block th:if="${directRaffleListSize &gt; 0}">
        <hr class="today-draws-hr">
        <h2 style="text-align: center; font-weight:bold;">직배 응모: <span th:text="${directRaffleListSize}"></span></h2>
    
        <div class="product-direct" id="activeDraws-direct">
          <div th:each="drawGroup : ${directDrawGroupList}" th:id="|todayDirectDraw-${drawGroup.productVO.id}|"
            class="todayDrawContainer">
            <a class="item-zoom" th:href="|/product-detail?id=${drawGroup.productVO.id}|">
              <img th:id="|todayProductImg-${drawGroup.productVO.id}|" class="todayProductImg lozad"
                th:data-src="${drawGroup.productVO.imgSrc_home}" src="image/loading.gif"
                th:alt="${drawGroup.productVO.model_kr}" />
            </a>
            <div class="todayDraw-model_kr" th:text="${drawGroup.productVO.model_kr}"></div>
            <div
              th:class="|todayDrawContentDirect-${drawGroup.productVO.id} todayDrawContentBox d-flex flex-wrap justify-content-center|">
              <div th:each="raffle : ${drawGroup.targetRaffleVOList}">
                <div th:if="${raffle.raffleType} == '응모'" class="todayDrawContent">
                  <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                    <th:block th:include="fragments/active-raffle-content"></th:block>
                  </a>
                </div>
                <div th:unless="${raffle.raffleType} == '응모'" class="todayDrawContent">
                  <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                    <th:block th:include="fragments/active-firstcome-content"></th:block>
                  </a>
                </div>
                <div class="check" th:data-raffle-id="${raffle.id}">
                  <img th:id="|check-${raffle.id}|" class="check__img" src="/image/icon/check_off.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </th:block>
    
      <th:block th:if="${agentRaffleListSize &gt; 0}">
        <hr class="today-draws-hr">
        <h2 style="text-align: center; font-weight:bold;">배대지 응모: <span th:text="${agentRaffleListSize}"></span></h2>
    
        <div class="product-agnet" id="activeDraws-agent">
          <div th:each="drawGroup : ${agentDrawGroupList}" th:id="|todayAgentDraw-${drawGroup.productVO.id}|"
            class="todayDrawContainer">
            <a class="item-zoom" th:href="|/product-detail?id=${drawGroup.productVO.id}|">
              <img th:id="|todayProductImg-${drawGroup.productVO.id}|" class="todayProductImg lozad"
                th:data-src="${drawGroup.productVO.imgSrc_home}" src="image/loading.gif"
                th:alt="${drawGroup.productVO.model_kr}" />
            </a>
            <div class="todayDraw-model_kr" th:text="${drawGroup.productVO.model_kr}"></div>
            <div
              th:class="|todayDrawContentAgent-${drawGroup.productVO.id} todayDrawContentBox d-flex flex-wrap justify-content-center|">
              <div th:each="raffle : ${drawGroup.targetRaffleVOList}">
    
                <div th:if="${raffle.raffleType} == '응모'" class="todayDrawContent">
                  <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                    <th:block th:include="fragments/active-raffle-content"></th:block>
                  </a>
                </div>
                <div th:unless="${raffle.raffleType} == '응모'" class="todayDrawContent">
                  <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                    <th:block th:include="fragments/active-firstcome-content"></th:block>
                  </a>
                </div>
                <div class="check" th:data-raffle-id="${raffle.id}">
                  <img th:id="|check-${raffle.id}|" class="check__img" src="/image/icon/check_off.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </th:block>
    </div>
    <div id="readyDrawsContainer">
      <th:block th:if="${readyUnregisteredRaffleListSize &gt; 0}">
        <hr class="today-draws-hr--ready product-unregistered">
        <h2 class="product-unregistered" style="text-align: center; font-weight:bold;">미등록 제품 응모 예정: <span
            th:text="${readyUnregisteredRaffleListSize}"></span></h2>
    
        <div class="draw-area">
          <div th:each="drawGroup : ${readyUnregisteredDrawGroupList}"
            th:id="|todayUnregisteredDraw-${drawGroup.productVO.id}|" class="todayDrawContainer">
            <a class="item-zoom" th:href="|/product-detail?id=${drawGroup.productVO.id}|">
              <img th:id="|todayProductImg-${drawGroup.productVO.id}|" class="todayProductImg lozad"
                th:data-src="${drawGroup.productVO.imgSrc_home}" src="image/loading.gif" alt="loading..." />
            </a>
            <div
              class="todayContentUnregistered-${drawGroup.productVO.id} todayDrawContentBox d-flex flex-wrap justify-content-center">
              <div th:each="raffle : ${drawGroup.targetRaffleVOList}">
    
                <div th:if="${raffle.raffleType} == '응모'" class="todayReadyDrawContent">
                  <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                    <div class="div-draw-model_kr"><span class="draw-model_kr" th:text="${raffle.model_kr}"></span>
                    </div>
                    <th:block th:include="fragments/ready-raffle-content"></th:block>
                  </a>
                </div>
                <div th:unless="${raffle.raffleType} == '응모'" class="todayReadyDrawContent">
                  <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                    <div class="div-draw-model_kr"><span class="draw-model_kr" th:text="${raffle.model_kr}"></span>
                    </div>
                    <th:block th:include="fragments/ready-firstcome-content"></th:block>
                  </a>
                </div>
                <div class="check" th:data-raffle-id="${raffle.id}">
                  <img th:id="|check-${raffle.id}|" class="check__img" src="/image/icon/check_off.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </th:block>
    
      <th:block th:if="${readyKoreaRaffleListSize &gt; 0}">
        <hr class="today-draws-hr--ready">
        <h2 id="readyDraws-korea" style="text-align: center; font-weight:bold;">국내 응모 예정: <span th:text="${readyKoreaRaffleListSize}"></span></h2>
    
        <div class="draw-area">
          <div th:each="drawGroup,index : ${readyKoreaDrawGroupList}" th:id="|todayKoreaDraw-${drawGroup.productVO.id}|"
            class="todayDrawContainer">
            <a class="item-zoom" th:href="|/product-detail?id=${drawGroup.productVO.id}|">
              <img th:id="|todayProductImg-${drawGroup.productVO.id}|" class="todayProductImg lozad"
                th:data-src="${drawGroup.productVO.imgSrc_home}" src="image/loading.gif"
                th:alt="${drawGroup.productVO.model_kr}" />
            </a>
            <div class="todayDraw-model_kr" th:text="${drawGroup.productVO.model_kr}"></div>
            <div
              th:class="|todayDrawContentKorea-${drawGroup.productVO.id} todayDrawContentBox d-flex flex-wrap justify-content-center|">
              <div th:each="raffle : ${drawGroup.targetRaffleVOList}">
    
                <div th:if="${raffle.raffleType} == '응모'" class="todayReadyDrawContent">
                  <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                    <th:block th:include="fragments/ready-raffle-content"></th:block>
                  </a>
                </div>
                <div th:unless="${raffle.raffleType} == '응모'" class="todayReadyDrawContent">
                  <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                    <th:block th:include="fragments/ready-firstcome-content"></th:block>
                  </a>
                </div>
                <div class="check" th:data-raffle-id="${raffle.id}">
                  <img th:id="|check-${raffle.id}|" class="check__img" src="/image/icon/check_off.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </th:block>
    
      <th:block th:if="${readyDirectRaffleListSize &gt; 0}">
        <hr class="today-draws-hr--ready">
        <h2 style="text-align: center; font-weight:bold;">직배 응모 예정: <span th:text="${readyDirectRaffleListSize}"></span>
        </h2>
    
        <div class="draw-area">
          <div th:each="drawGroup : ${readyDirectDrawGroupList}" th:id="|todayDirectDraw-${drawGroup.productVO.id}|"
            class="todayDrawContainer">
            <a class="item-zoom" th:href="|/product-detail?id=${drawGroup.productVO.id}|">
              <img th:id="|todayProductImg-${drawGroup.productVO.id}|" class="todayProductImg lozad"
                th:data-src="${drawGroup.productVO.imgSrc_home}" src="image/loading.gif"
                th:alt="${drawGroup.productVO.model_kr}" />
            </a>
            <div class="todayDraw-model_kr" th:text="${drawGroup.productVO.model_kr}"></div>
            <div
              th:class="|todayDrawContentDirect-${drawGroup.productVO.id} todayDrawContentBox d-flex flex-wrap justify-content-center|">
              <div th:each="raffle : ${drawGroup.targetRaffleVOList}">
                <div th:if="${raffle.raffleType} == '응모'" class="todayReadyDrawContent">
                  <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                    <th:block th:include="fragments/ready-raffle-content"></th:block>
                  </a>
                </div>
                <div th:unless="${raffle.raffleType} == '응모'" class="todayReadyDrawContent">
                  <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                    <th:block th:include="fragments/ready-firstcome-content"></th:block>
                  </a>
                </div>
                <div class="check" th:data-raffle-id="${raffle.id}">
                  <img th:id="|check-${raffle.id}|" class="check__img" src="/image/icon/check_off.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </th:block>
    
      <th:block th:if="${readyAgentRaffleListSize &gt; 0}">
        <hr class="today-draws-hr--ready">
        <h2 style="text-align: center; font-weight:bold;">배대지 응모 예정: <span th:text="${readyAgentRaffleListSize}"></span>
        </h2>
    
        <div class="draw-area">
          <div th:each="drawGroup : ${readyAgentDrawGroupList}" th:id="|todayAgentDraw-${drawGroup.productVO.id}|"
            class="todayDrawContainer">
            <a class="item-zoom" th:href="|/product-detail?id=${drawGroup.productVO.id}|">
              <img th:id="|todayProductImg-${drawGroup.productVO.id}|" class="todayProductImg lozad"
                th:data-src="${drawGroup.productVO.imgSrc_home}" src="image/loading.gif"
                th:alt="${drawGroup.productVO.model_kr}" />
            </a>
            <div class="todayDraw-model_kr" th:text="${drawGroup.productVO.model_kr}"></div>
            <div
              th:class="|todayDrawContentAgent-${drawGroup.productVO.id} todayDrawContentBox d-flex flex-wrap justify-content-center|">
              <div th:each="raffle : ${drawGroup.targetRaffleVOList}">
    
                <div th:if="${raffle.raffleType} == '응모'" class="todayReadyDrawContent">
                  <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                    <th:block th:include="fragments/ready-raffle-content"></th:block>
                  </a>
                </div>
                <div th:unless="${raffle.raffleType} == '응모'" class="todayReadyDrawContent">
                  <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                    <th:block th:include="fragments/ready-firstcome-content"></th:block>
                  </a>
                </div>
                <div class="check" th:data-raffle-id="${raffle.id}">
                  <img th:id="|check-${raffle.id}|" class="check__img" src="/image/icon/check_off.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </th:block>
    </div>
  </div>
  <img id="category-open-btn" src="/image/icon/floating_category.png" alt="category-open-btn">

  <div id="category-list-popup" class="popCmmn">
    <div class="popBg"></div>
    <div class="popInnerBox">
      <div id="raffle-category-korea" class="raffle-category">국내 응모</div>
      <div id="raffle-category-direct" class="raffle-category">직배 응모</div>
      <div id="raffle-category-agent" class="raffle-category">배대지 응모</div>
      <div id="raffle-category-ready" class="raffle-category">예정된 응모</div>
    </div>

    <img id="category-close-btn" src="/image/icon/floating_x.png">
  </div>
</div>
</html>