<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="configFragment">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2682527241610745",
    enable_page_level_ads: true,
    overlays: {top: true}
  });
	</script>


	<link rel="stylesheet" th:href="@{/css/config.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
			crossorigin="anonymous">

<th:block layout:fragment="css"></th:block>
	<script type="text/javascript" th:src="@{js/header.js}" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
				crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
				integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
				crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
				integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
				crossorigin="anonymous">
</script>
<link rel="shortcut icon" th:href="@{image/favicon.ico}">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VEMRFFFPJP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VEMRFFFPJP');
  
  $('document').ready(function(){	
  	printClock();
  	showNavBar();

  	$(window).resize(function(){
  		showNavBar();
  	});
  });
  
function printClock() {
    
    var clock = document.getElementById("clock");            // 출력할 장소 선택
    if(clock == null)
    	return;
    var currentDate = new Date();                                     // 현재시간
    var calendar = (currentDate.getMonth()+1) + "/" + currentDate.getDate() // 현재 날짜
    var day = currentDate.getDay();
    var week = ['SUN', 'MON', 'TUE', 'WED', 'THUR', 'FRI', 'SAT']; 
    var currentHours = addZeros(currentDate.getHours(),2); 
    var currentMinute = addZeros(currentDate.getMinutes() ,2);
    var currentSeconds =  addZeros(currentDate.getSeconds(),2);
    
    clock.innerHTML = calendar+" "+week[day]+" <span style=\"color:#fe0100\">"+currentHours+":"+currentMinute+":"+currentSeconds+"</span>";
    
    setTimeout("printClock()",1000);         // 1초마다 printClock() 함수 호출
}

function addZeros(num, digit) { // 자릿수 맞춰주기
	  var zero = '';
	  num = num.toString();
	  if (num.length < digit) {
	    for (i = 0; i < digit - num.length; i++) {
	      zero += '0';
	    }
	  }
	  return zero + num;
}
</script>

<title>SneakAlarm</title>

<th:block layout:fragment="script"></th:block>
</head>
</html>
