<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<footer th:fragment="footerFragment" style="width:100%; margin-bottom:10px; margin-top:50px;">
<div sec:authorize="!hasRole('ADMIN')" class="container-fluid d-flex justify-content-center" style="max-width:320px;">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- 하단광고 -->
	<ins class="adsbygoogle"
			 style="display:inline-block;width:300px;height:100px"
			 data-ad-client="ca-pub-2682527241610745"
			 data-ad-slot="5253943792"></ins>
	<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="font-size:11px; height:33px;">
	  	<div style="color:#b8b8b8;">
	  		<img src="/image/pc/SneakAlarm_white_870x180.png" style="height:15px;width:70px;margin-bottom:2px;"> © 2021. SneakAlarm all rights reserved.
	  	</div>
	</div>
</footer>

</html>