<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footerFragment"> 
<div sec:authorize="!hasRole('ADMIN')" class="container-fluid d-flex justify-content-center" style="margin-top:50px; max-width:320px;">
<ins class="kakao_ad_area" style="display:none;" 
 data-ad-unit    = "DAN-A72j39m8nbGmJwuY" 
 data-ad-width   = "320" 
 data-ad-height  = "100"></ins> 
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
</div>
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="font-size:11px; height:33px">
	  	<div style="color:#b8b8b8;">
	  		© 2021. SneakAlarm all rights reserved.
	  	</div>
	</div>
</footer>

</html>