<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<footer th:fragment="footerFragment" style="width:100%; margin-bottom:10px; margin-top:50px;">
<div sec:authorize="!hasRole('ADMIN')" class="container-fluid d-flex justify-content-center" style="max-width:320px;">
	<ins class="kakao_ad_area" style="display:none;"
			 data-ad-unit    = "DAN-A72j39m8nbGmJwuY"
			 data-ad-width   = "320"
			 data-ad-height  = "100"></ins>
	<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
</div>
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="font-size:11px; height:33px;">
	  	<div style="color:#b8b8b8;">
	  		<img src="/image/pc/SneakAlarm_white_870x180.png" alt="SneakAlarm" style="height:15px;width:70px;margin-bottom:2px;"> © 2021. SneakAlarm all rights reserved.
	  	</div>
	</div>
</footer>

</html>