<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<header th:fragment="headerFragment">
<nav class="navbar fixed-top navbar-expand-lg navbar-light d-flex flex-column" style="background-color: #FFFFFF;">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" href="/">
      <img th:src="@{image/pc/Bogo_870x270.png}" class="nav-bogo" alt="Bogo">
    </a>
  </div>
</nav>
</header>

</html>