<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"  
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/header.css" type="text/css">
</th:block>

<header th:fragment="headerFragment">
<nav class="navbar-top--pc__container navbar-top-pc navbar fixed-top navbar-expand-lg navbar-light d-flex flex-column align-items-center" style="background-color: rgba( 255, 255, 255, 0.9 ); margin:0; padding-top:0px;">
	<hr class="navbar-top-pc top-line--blue" sec:authorize="hasRole('ADMIN')" style="border: solid 2px blue; opacity:100; margin-top:0px; margin-bottom:0px; width:100%;">
	<hr class="navbar-top-pc top-line--red" sec:authorize="!hasRole('ADMIN')" style="border: solid 2px #fe0100; opacity:100; margin-top:0px; margin-bottom:0px; width:100%;">
	<div class="navbar-top-pc d-flex flex-column justify-content-center align-self-end" style="position: relative; width:100%">
		<div class="navbar-top-pc d-flex justify-content-end">
			<div class="navbar-top-pc clock"></div>
			<img src="/image/icon/search_icon.png" class="navbar-top-pc navbar__search-icon" alt="search-icon">
		</div>

		<div class="d-flex navbar-top-pc justify-content-begin" style="position: absolute; height:100%;">
				<a class="navbar-top-pc" href="/">
					<img src="/image/pc/SneakAlarm_white_870x180.png" class="navbar-top-pc navbar__bogo" alt="SneakAlarm">
				</a>
				<div id="navbar-top__menu--today" class="navbar-top-pc navbar-top__menu align-self-end" style="padding-top: 25px; margin-left:10px; font-size:18px; font-style: italic; font-weight:900; cursor: pointer;" onclick="moveToNowPage()">NOW</div>
				<div id="navbar-top__menu--launch" class="navbar-top-pc navbar-top__menu align-self-end" style="padding-top: 25px; margin-left:20px; font-size:18px; font-style: italic; font-weight:900; cursor: pointer;" onclick="moveToLaunchPage()">LAUNCH</div>
		</div>
	</div>
</nav>


<nav class="navbar-top--mobile__container navbar-top-mobile navbar-top-mobile--container navbar fixed-top navbar-expand-lg navbar-light d-flex flex-column align-items-center" style="background-color: rgba( 255, 255, 255, 0 ); margin:0; padding-top:0px;">
	<hr class="navbar-top-mobile top-line--blue" sec:authorize="hasRole('ADMIN')" style="border: solid 2px blue; opacity:100; margin-top:0px; margin-bottom:0px; width:100%;">
	<hr class="navbar-top-mobile top-line--red" sec:authorize="!hasRole('ADMIN')" style="border: solid 2px #fe0100; opacity:100; margin-top:0px; margin-bottom:0px; width:100%;">
	<div class="navbar-top-mobile d-flex flex-column justify-content-center align-items-center" style="position: relative; width:100%">
		<div class="navbar-top-mobile">
			<a class="navbar-top-mobile" href="/">
				<img src="/image/pc/SneakAlarm_white_870x180.png" class="navbar-top-mobile navbar__bogo" alt="SneakAlarm">
			</a>
		</div>
		<span class="navbar-top-mobile align-self-begin clock--mobile"></span>
		<div class="navbar-top-mobile align-self-end" style="position: absolute; height:100%">
			<div class="navbar-top-mobile d-flex">
				<img src="/image/icon/search_icon.png" class="navbar-top-mobile navbar__search-icon" alt="search-icon">
			</div>
		</div>
	</div>
</nav>

	<nav id="navbar-bottom" class="navbar-bottom--mobile navbar fixed-bottom navbar-expand-lg navbar-light align-items-center">
	<div id="navbar-bottom--mobile__container" class="navbar-bottom--mobile justify-content-around align-items-center">
		<span id="navbar-bottom--mobile__menu--today" href="/now" class="navbar-bottom--mobile navbar-bottom--mobile__menu" onclick="moveToNowPage()">NOW</span>

		<span id="navbar-bottom--mobile__menu--launch" href="/" class="navbar-bottom--mobile navbar-bottom--mobile__menu" onclick="moveToLaunchPage()">LAUNCH</span>
<!--		<a id="nav-bottom-mobile-div-btn-news" type="button" class="btn btn-default btn-lg" onclick="javascript:alert('준비중인 메뉴입니다.');"style="font-style: italic; font-weight:bold;">NEWS</a>-->
	</div>
</nav>
</header>

</html>
