<img th:if="${drawGroup.productVO.imgSrc_home != null}" th:id="|todayProductImg-${drawGroup.productVO.id}|"
    class="todayProductImg lozad" th:data-src="${drawGroup.productVO.imgSrc_home}" src="image/loading.gif"
    alt="loading..." />
<img th:unless="${drawGroup.productVO.imgSrc_home != null}" th:id="|todayProductImg-${drawGroup.productVO.id}|"
    class="todayProductImg lozad"
    th:data-src="|https://s3.ap-northeast-2.amazonaws.com/sneakalarm.media/product/${drawGroup.productVO.code}/size450/${#strings.replace(drawGroup.productVO.model_en,' ','_')}.jpg|"
    src="image/loading.gif" alt="loading..." />