<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout/default">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/today.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/checked.css}" type="text/css">
  <style>
    #navbar-bottom--mobile__menu--checked {
      color: #F11900;
    }
  </style>
</th:block>

<th:block layout:fragment="script">
  <script type="text/javascript" src="/js/today.js" charset="utf-8"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
  <script>
  $(window).on('load', function () {
    let doneRaffleIdList = searchCookies("myRaffles");
    for(let i=0 ; i<doneRaffleIdList.length; i++) {
      $('#check-'+doneRaffleIdList[i]).attr('src','/image/icon/check_on.svg');
      $('#drawCard-'+doneRaffleIdList[i]).children('div').css('opacity','0.5');
    }
    $('.search-icon-area').remove();
    $('.check').on('click',function(){
      onClickCheckMyRaffles($(this).attr('data-raffle-id'));
    });
    setCardsMaxHeight();
    setCookieSearchConditions();
    setCssClickedButton()
    setOnclickCategoryButton();
    setOnclickResetButton();

    const observer = lozad();
    observer.observe();
   });
  function setOnclickResetButton() {
    let checkList = document.querySelectorAll('div.check');
    console.log(checkList);
    let raffleIdList = [];
    for(let i=0 ; i<checkList.length; i++){
      console.log(checkList[i]);
      raffleIdList.push(checkList[i].dataset.raffleId);
    }
    console.log(raffleIdList);
    $('#reset-button--reset').on('click', function(){
      for(let i=0 ; i<raffleIdList.length; i++){
        deleteMyRaffles(searchCookies("myRaffles"), raffleIdList[i]);
        console.log(raffleIdList[i]);
      }
      for(let i=0 ; i<checkList.length; i++){
        let checkImgElement = checkList[i].getElementsByTagName('img')[0];
        checkImgElement.setAttribute('src','/image/icon/check_off.svg');
      }
    });
    console.log(raffleIdList);
    $('#reset-button--check-all').on('click', function(){
      for(let i=0 ; i<raffleIdList.length; i++){
        addMyRaffles(raffleIdList[i]);
      }
      for(let i=0 ; i<checkList.length; i++){
        let checkImgElement = checkList[i].getElementsByTagName('img')[0];
        checkImgElement.setAttribute('src','/image/icon/check_on.svg');
      }
    });
  }

  function setCssClickedButton() {
    let drawCondition = searchCookies('searchDrawConditions');
    $('.button-'+drawCondition).attr('class', 'category-button--clicked');
  }
  function setOnclickCategoryButton() {
    $('.button-ended').on('click',function(){
      addDrawCondition('ended');
      location.reload();
    });
    $('.button-active').on('click',function(){
      addDrawCondition('active');
      location.reload();
    });
    $('.button-ready').on('click',function(){
      addDrawCondition('ready');
      location.reload();
    });
  }
  </script>
  <script sec:authorize="!hasRole('ADMIN')">
    document.title = 'CHECKED ■ SNEAKALARM';
  </script>
  <script sec:authorize="hasRole('ADMIN')">
    document.title = '_CHECKED ■ SNEAKALARM';
  </script>
</th:block>

<div layout:fragment="content">
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center main-container" style="margin-top:86px;">
    <h2 class="checked-title-area">
      체크된 응모
    </h2>
    <section class="reset-button-area"><span id="reset-button--check-all" class="reset-button--basic">모두 체크</span><span id="reset-button--reset" class="reset-button--basic">모두 해제</span></section>
    <div class="category-button-area">
      <div class="category-button--basic button-ended">
        <div class="button-ended">지난 응모<span th:if="${status.toString().equals('ended')}" class="category-button__number" th:text="|: ${checkedDrawNumbers}|"></span></div>
      </div>
      <div class="category-button--basic button-active">
        <div class="button-active">진행중<span th:if="${status.toString().equals('active')}" class="category-button__number" th:text="|: ${checkedDrawNumbers}|"></span></div>
      </div>
      <div class="category-button--basic button-ready">
        <div class="button-ready">예정 응모<span th:if="${status.toString().equals('ready')}" class="category-button__number" th:text="|: ${checkedDrawNumbers}|"></span></div>
      </div>
    </div>
    <th:block th:if="${status.toString.equals('ended')}">
      <section class="help-content">※ 체크 해제 후 화면이동/새로고침 시 이 페이지에서 삭제됩니다.</section>
    </th:block>
    <th:block th:if="${checkedDrawNumbers &gt; 0}">
      <article class="checked-draws-group">
        <div th:id="|endedDraw-${drawGroup.productVO.id}|" class="todayDrawContainer" th:each="drawGroup,index : ${checkedDrawGroupList}">
          <div class="checked-product-area">
            <a th:href="|/product-detail?id=${drawGroup.productVO.id}|">
              <img th:id="|todayProductImg-${drawGroup.productVO.id}|" class="checked-product__image lozad"
                   th:data-src="${drawGroup.productVO.imgSrc_home}" src="image/loading.gif"
                   th:alt="${drawGroup.productVO.model_kr}"/>
            </a>
            <div class="checked-product__model_kr" th:text="${drawGroup.productVO.model_kr}"></div>
          </div>
          <div class="checked-draws-area">
            <div th:each="raffle : ${drawGroup.targetRaffleVOList}">
              <th:block th:if="${raffle.raffleType} == '응모'">
                <div class="todayDrawContent">
                  <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                    <th:block th:include="fragments/active-raffle-content"></th:block>
                  </a>
                </div>
              </th:block>
              <th:block th:unless="${raffle.raffleType} == '응모'">
                <div class="todayDrawContent">
                  <a th:id="|drawCard-${raffle.id}|" th:href="${raffle.url}" style="text-decoration: none;">
                    <th:block th:include="fragments/active-firstcome-content"></th:block>
                  </a>
                </div>
              </th:block>
              <div class="check" th:data-raffle-id="${raffle.id}">
                <img th:id="|check-${raffle.id}|" class="check__img" src="/image/icon/check_off.svg">
              </div>
            </div>
          </div>
        </div>
      </article>
    </th:block>
    <th:block th:unless="${checkedDrawNumbers &gt; 0}">
      <article class="checked-draws-group"></article>
    </th:block>
  </div>
  <section class="checked-ad-area">
    <div style="display:inline-block; width:100%; height:100px;">
      <ins class="adsbygoogle ad-box" style="display:inline-block; width:100%; height:100px;" data-ad-client="ca-pub-2682527241610745"
        data-ad-slot="9219850758" data-ad-format="rectangle" data-full-width-responsive="true"></ins>
    </div>
  </section>
</div>
</html>