<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sneakalarm.product.dao.ProductMapper" >

	<insert id="insertProduct" 
	parameterType="com.sneakalarm.product.dto.ProductVO">
		INSERT	INTO product(name, code, price, brand, content, imgsrc, filtercode,
							startdate, enddate, popularity, insertdate, flag_show, flag_del)
		VALUES 	(#{name}, #{code}, #{price}, #{brand}, #{content}, #{imgSrc}, #{filterCode}, 
				 #{startDate}, #{endDate}, #{popularity}, #{insertDate}, #{flag_show}, #{flag_del})

	</insert>
	
	<select id="getProductList" parameterType="String" resultType="com.sneakalarm.product.dto.ProductVO">
		SELECT	*
		FROM 	product
		WHERE	code=#{code}
	</select>
	
	<delete id="deleteProduct" parameterType="String">
		DELETE FROM product
		WHERE code=#{code}
	</delete>
	
	 <update id="updateProduct" parameterType="com.sneakalarm.product.dto.ProductVO">
	 	UPDATE 	product
	 	SET 		name=#{name}, code=#{code}, price=#{price}, brand=#{brand}, content=#{content}, imgSrc=#{imgSrc}, 
	 					filtercode=#{filterCode}, startdate=#{startDate}, enddate=#{endDate}, popularity=#{popularity}, 
	 					insertdate=#{insertDate}, flag_show=#{flag_show}, flag_del=#{flag_del}
	 	WHERE 	code=#{code}
	 </update>
</mapper>