<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sneakalarm.product.dao.ProductMapper" >

	<insert id="insertProduct" 
	parameterType="com.sneakalarm.product.dto.ProductVO" useGeneratedKeys="true" keyProperty="id">
		INSERT	INTO product(model_kr, model_en, code, retailPrice, brand, content, imgSrc_home, imgSrc_detail,
							releaseStartDate, releaseEndDate, popularity, insertDate, releaseDate, premiumPrice, averageSalePrice, 
							lastUpdateDate, size, country, draw, lowestSoldPrice, highestSoldPrice, isDeleted, signatureColor, detailImagesSize)
		VALUES 	(#{model_kr}, #{model_en}, #{code}, #{retailPrice}, #{brand}, #{content}, #{imgSrc_home}, #{imgSrc_detail},
							#{releaseStartDate}, #{releaseEndDate}, #{popularity}, #{insertDate}, #{releaseDate}, #{premiumPrice}, #{averageSalePrice}, 
							#{lastUpdateDate}, #{size}, #{country}, #{draw}, #{lowestSoldPrice}, #{highestSoldPrice}, #{isDeleted}, #{signatureColor}, #{detailImagesSize})
	</insert>
	
	<select id="getProductList" parameterType="String" resultType="com.sneakalarm.product.dto.ProductVO">
		SELECT	*
		FROM 	product
		WHERE	id=#{id}
	</select>
	
	<select id="getProductIdListAll" resultType="Integer">
		SELECT	id
		FROM 	product
	</select>
	
	<select id="getProductIdListByStatus" parameterType="String" resultType="String">
		SELECT	id
		FROM 	product
		WHERE	status=#{status}
	</select>

	<select id="getTodayProductResponseVO" resultType="com.sneakalarm.today.dto.TodayProductResponseVO">
		SELECT	id, model_kr, imgSrc_home, deliveryTypes
		FROM 	product
		WHERE	status='active' OR status='ready'
		ORDER BY releaseEndDate;
	</select>

	<select id="getProductByDeliveryType" parameterType="String"
		resultType="com.sneakalarm.product.dto.ProductVO">
		SELECT *
		FROM product
		WHERE deliveryTypes LIKE CONCAT('%',#{deliveryType},'%') AND (status='ready' OR status='active')
		ORDER BY releaseEndDate;
	</select>
	
	<delete id="deleteProduct" parameterType="String">
		DELETE FROM product
		WHERE id=#{id}
	</delete>
	
	 <update id="updateProduct" parameterType="com.sneakalarm.product.dto.ProductVO">
	 	UPDATE 	product
	 	SET 		model_kr=#{model_kr}, model_en=#{model_en}, retailPrice=#{retailPrice}, brand=#{brand}, 
	 					imgsrc_home=#{imgSrc_home}, imgsrc_detail=#{imgSrc_detail}, premiumPrice=#{premiumPrice},
	 					averageSalePrice=#{averageSalePrice}, lastUpdateDate=#{lastUpdateDate}, size=#{size}, 
	 					lowestSoldPrice=#{lowestSoldPrice}, highestSoldPrice=#{highestSoldPrice}, content=#{content},
	 					releaseStartDate=#{releaseStartDate}, releaseEndDate=#{releaseEndDate}, code=#{code}, releaseDate=#{releaseDate},
		 				signatureColor=#{signatureColor}, detailImagesSize=#{detailImagesSize}
	 	WHERE 	id=#{id}
	 </update>
	 
	 <update id="updateProductStatus" parameterType="com.sneakalarm.product.dto.ProductUpdateStatusVO">
	 	UPDATE 	product
	 	SET 	status=#{status}
	 	WHERE 	id=#{productId}
	 </update>
	 
	<update id="updateStartDateTime" parameterType="com.sneakalarm.product.dto.ProductUpdateStartDateTimeVO">
		UPDATE	product
		SET			releaseStartDate=#{startDateTime}
		WHERE		id=#{productId}
	</update>
	
	<update id="updateEndDateTime" parameterType="com.sneakalarm.product.dto.ProductUpdateEndDateTimeVO">
		UPDATE	product
		SET			releaseEndDate=#{endDateTime}
		WHERE		id=#{productId}
	</update>
	
	<update id="updateDrawNum" parameterType="com.sneakalarm.product.dto.ProductUpdateDrawNumVO">
		UPDATE 	product
			SET		drawNumKorea = #{drawNumKorea}, drawNumOverseas = #{drawNumOverseas}, drawNumFirstcome = #{drawNumFirstcome}, drawNumReady = ${drawNumReady}
		WHERE	id=#{productId}
	</update>

	<update id="updateDrawCountries" parameterType="com.sneakalarm.product.dto.UpdateDrawCountriesVO">
		UPDATE 	product
		SET		country = #{countries}
		WHERE	id=#{productId}
	</update>

	<update id="updateDeliveryTypes" parameterType="com.sneakalarm.product.dto.UpdateDeliveryTypesVO">
		UPDATE 	product
		SET		deliveryTypes = #{deliveryTypes}
		WHERE	id=#{productId}
	</update>
</mapper>