<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sneakalarm.product.dao.ProductMapper" >

	<insert id="insertProduct" 
	parameterType="com.sneakalarm.product.dto.ProductVO">
		INSERT	INTO product(model_kr, model_en, code, retailPrice, brand, content, imgSrc_home, imgSrc_detail,
							releaseStartDate, releaseEndDate, popularity, insertDate, releaseDate, premiumPrice, averageSalePrice, 
							lastUpdateDate, size, country, draw, lowestSoldPrice, highestSoldPrice, isDeleted)
		VALUES 	(#{model_kr}, #{model_en}, #{code}, #{retailPrice}, #{brand}, #{content}, #{imgSrc_home}, #{imgSrc_detail},
							#{releaseStartDate}, #{releaseEndDate}, #{popularity}, #{insertDate}, #{releaseDate}, #{premiumPrice}, #{averageSalePrice}, 
							#{lastUpdateDate}, #{size}, #{country}, #{draw}, #{lowestSoldPrice}, #{highestSoldPrice}, #{isDeleted})
	</insert>
	
	<select id="getProductList" parameterType="String" resultType="com.sneakalarm.product.dto.ProductVO">
		SELECT	*
		FROM 	product
		WHERE	id=#{id}
	</select>
	
	<delete id="deleteProduct" parameterType="String">
		DELETE FROM product
		WHERE id=#{id}
	</delete>
	
	 <update id="updateProduct" parameterType="com.sneakalarm.product.dto.ProductVO">
	 	UPDATE 	product
	 	SET 		model_kr=#{model_kr}, model_en=#{model_en}, retailPrice=#{retailPrice}, brand=#{brand}, 
	 					imgsrc_home=#{imgSrc_home}, imgsrc_detail=#{imgSrc_detail}, premiumPrice=#{premiumPrice},
	 					averageSalePrice=#{averageSalePrice}, lastUpdateDate=#{lastUpdateDate}, size=#{size}, 
	 					lowestSoldPrice=#{lowestSoldPrice}, highestSoldPrice=#{highestSoldPrice}, content=#{content},
	 					releaseStartDate=#{releaseStartDate}, releaseEndDate=#{releaseEndDate}, code=#{code}
	 	WHERE 	id=#{id}
	 </update>
</mapper>