<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sneakalarm.rafflesetting.dao.RaffleSettingMapper">
  <insert id="createRaffleSetting" useGeneratedKeys="true" keyProperty="id"
    parameterType="com.sneakalarm.rafflesetting.domain.RaffleSetting">
    INSERT INTO raffle_setting (raffleSettingName, raffleType, storeName, country, delivery, payType,
    specialCase, content, releasePrice, imgSrc, insertDateTime)
    VALUES (#{raffleSettingName}, #{raffleType}, #{storeName}, #{country}, #{delivery}, #{payType}, #{specialCase}, #{content},
    #{releasePrice}, #{imgSrc}, now())
  </insert>
  <insert id="insertRaffle" useGeneratedKeys="true" keyProperty="id"
    parameterType="com.sneakalarm.raffle.dto.RaffleVO">
    INSERT	INTO raffle(specialCase, url, productId, raffleType, releasePrice, imgSrc, storeName, country, delivery, payType, startDate, startTime, endDate, endTime, content, model_kr)
    VALUES 	(#{specialCase}, #{url}, #{productId}, #{raffleType}, #{releasePrice}, #{imgSrc}, #{storeName}, #{country}, #{delivery}, #{payType}, #{startDate}, #{startTime}, #{endDate}, #{endTime}, #{content}, #{model_kr})
  </insert>

  <select id="getRaffleSetting" parameterType="Long"
    resultType="com.sneakalarm.rafflesetting.domain.RaffleSetting">
    SELECT *
    FROM raffle_setting
    WHERE id = #{id}
  </select>
  <select id="getRaffleSettingAll" resultType="com.sneakalarm.rafflesetting.domain.RaffleSetting">
    SELECT *
    FROM raffle_setting
  </select>
  <select id="getRaffleSettingByKeyword" parameterType="String" resultType="com.sneakalarm.rafflesetting.domain.RaffleSetting" >
    SELECT *
    FROM raffle_setting
    WHERE UPPER(replace(raffleSettingName,' ','')) = UPPER(replace(#{keyword},' ',''))
    ORDER BY insertDateTime DESC
  </select>

  <update id="updateRaffleSetting" parameterType="com.sneakalarm.rafflesetting.domain.RaffleSetting">
    UPDATE raffle_setting
    SET raffleSettingName=#{raffleSettingName},
        raffleType=#{raffleType}, storeName=#{storeName},
        country=#{country}, delivery=#{delivery},
        payType=#{payType}, specialCase=#{specialCase}, content=#{content},
        releasePrice=#{releasePrice},
        <if test="imgSrc != null">
          imgSrc=#{imgSrc},
        </if>
        insertDateTime=now()
    WHERE	id = #{id}
  </update>

  <delete id="deleteRaffleSetting" parameterType="Long">
    DELETE FROM raffle_setting
    WHERE id=#{id}
  </delete>
</mapper>