<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sneakalarm.raffle.dao.RaffleMapper" >

	<insert id="raffleInsert" 
	parameterType="com.sneakalarm.raffle.dto.RaffleVO">
		INSERT	INTO raffle(specialCase, url, productId, raffleType, releasePrice, imgSrc, storeName, country, delivery, payType, startDate, startTime, endDate, endTime, content)
		VALUES 	(#{specialCase}, #{url}, #{productId}, #{raffleType}, #{releasePrice}, #{imgSrc}, #{storeName}, #{country}, #{delivery}, #{payType}, #{startDate}, #{startTime}, #{endDate}, #{endTime}, #{content})
	</insert>
	
	<select id="getRaffleList" parameterType="String" 
	resultType="com.sneakalarm.raffle.dto.RaffleVO">
		SELECT *
		FROM raffle
		WHERE productId = #{productID}
	</select>

	<select id="getRaffleListByStatus" parameterType="com.sneakalarm.raffle.dto.RaffleListByStatusVO"
		resultType="com.sneakalarm.raffle.dto.RaffleVO">
		SELECT *
		FROM raffle
		WHERE productId=#{productId} AND status = #{status}
	</select>

	<select id="getRaffleListByDeliveryType"
		parameterType="com.sneakalarm.raffle.dto.RaffleListByDeliveryTypeVO"
		resultType="com.sneakalarm.raffle.dto.RaffleVO">
		SELECT *
		FROM raffle
		WHERE productId=#{productId} AND (status='active' OR status='ready') AND delivery=#{deliveryType}
	</select>

	<select id="getRaffleListAll" resultType="com.sneakalarm.raffle.dto.RaffleVO">
		SELECT *
		FROM raffle
	</select>

	<select id="getDrawStatus" parameterType="String" resultType="String">
		SELECT status
		FROM raffle
		WHERE id = #{id}
	</select>
	
	<select id="getRaffle" parameterType="String"
	resultType="com.sneakalarm.raffle.dto.RaffleVO">
		SELECT *
		FROM raffle AS r
			JOIN product AS p
			ON p.id = r.productId
		where r.id = #{id};
	</select>
	
	<update id="updateRaffle" parameterType="com.sneakalarm.raffle.dto.RaffleVO">
		UPDATE 	raffle
		SET			url=#{url}, raffleType=#{raffleType}, releasePrice=#{releasePrice},
						storeName=#{storeName}, country=#{country}, delivery=#{delivery},
						payType=#{payType}, startDate=#{startDate}, startTime=#{startTime},
						endDate=#{endDate}, endTime=#{endTime}, content=#{content},
						specialCase=#{specialCase}, imgSrc=#{imgSrc}, model_kr=#{model_kr}
		WHERE		id=#{id}
	</update>

	<update id="updateDrawStatus" parameterType="com.sneakalarm.raffle.dto.RaffleUpdateStatusVO">
		UPDATE 	raffle
		SET		status=#{status}
		WHERE	id=#{id}
	</update>
	
	<delete id="deleteRaffle" parameterType="String">
		DELETE FROM raffle
		WHERE id=#{id}
	</delete>

</mapper>
